@model LogListViewModel
@using cloudscribe.Web.Pagination
@addTagHelper "*, cloudscribe.Web.Pagination"
@using cloudscribe.Core.Models
@using cloudscribe.Web.Common
@using cloudscribe.Logging.Web
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<LogManager> sr
@inject ITimeZoneHelper tzHelper
@functions
{
    public string GetClassFromLogLevel(string logLevel)
    {
        switch (logLevel)
        {
            case "Error":
            case "Critical":
                return "text-danger";

            case "Warning":
                return "text-warning";

            case "Information":
            default:
                return "text-info";
        }
    }

    public string GetButtonClass(string logLevel, string buttonLogLevel)
    {
        switch (logLevel)
        {
            case "Critical":
            case "Error":
                if (buttonLogLevel == logLevel)
                {
                    return "btn btn-danger";
                }
                return "btn btn-default";

            case "Warning":
                if (buttonLogLevel == logLevel)
                {
                    return "btn btn-warning";
                }
                return "btn btn-default";

            case "Information":
            case "":
            default:
                if (buttonLogLevel == logLevel)
                {
                    return "btn btn-info";
                }
                return "btn btn-default";
        }
    }
}
<h1>@ViewData["Heading"]</h1>
<a class="@GetButtonClass(Model.LogLevel, "Critical")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Critical">@sr["Critical"]</a>
<a class="@GetButtonClass(Model.LogLevel, "Error")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Error">@sr["Error"]</a>
<a class="@GetButtonClass(Model.LogLevel, "Warning")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Warning">@sr["Warning"]</a>
<a class="@GetButtonClass(Model.LogLevel, "Information")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Information">@sr["Information"]</a>
<a class="@GetButtonClass(Model.LogLevel, "Debug")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Debug">@sr["Debug"]</a>
<a class="@GetButtonClass(Model.LogLevel, "Trace")" role="button" asp-controller="SystemLog" asp-action="Index" asp-route-logLevel="Trace">@sr["Trace"]</a>
<a class="@GetButtonClass(Model.LogLevel, "")" role="button" asp-controller="SystemLog" asp-action="Index">@sr["All"]</a>
<ul class="list-unstyled">
    @foreach (var item in Model.LogPage)
    {
        <li class=" mb-1  logitem">
            <form role="form" class="form-inline float-left" asp-controller="SystemLog" asp-action="LogItemDelete">
                <input type="hidden" id="id" name="id" value="@item.Id" />
                <input type="submit" value='@sr["Delete"]' class="btn btn-link p-0 pr-1" />
            </form>
            <h2 class="@GetClassFromLogLevel(item.LogLevel)  mt-1 pt-1 h6 border-botttom  ">
                @tzHelper.ConvertToLocalTime(item.LogDateUtc, Model.TimeZoneId).ToString()
                <strong>@item.LogLevel</strong>
                @item.IpAddress
                @item.Logger
                @item.ShortUrl
            </h2>
            <div class="border-bottom">
                @Html.Encode(item.Message)
            </div>
        </li>
    }
</ul>

<cs-pager cs-paging-info="@Model.Paging"
    asp-action="Index" asp-controller="SystemLog"
    asp-route-logLevel="@Model.LogLevel"
    asp-route-pagesize="@Model.Paging.ItemsPerPage"
    cs-pager-ul-class="pagination d-flex flex-wrap"
    cs-pager-li-current-class="page-item active"
    cs-pager-li-other-class="page-item"
    cs-pager-li-non-active-class="page-item disabled"
    cs-pager-link-current-class="page-link"
    cs-pager-link-other-class="page-link"
          ></cs-pager>

<form role="form" class="form-inline" asp-controller="SystemLog" asp-action="LogDeleteAll">
    <a asp-action="Index" class="btn btn-sm btn-default ">@sr["Refresh"]</a>
    <input type="hidden" asp-for="@Model.LogLevel" />
    <input type="submit" value='@sr["Clear Log"]' class="btn btn-sm btn-danger " />
</form>
<form role="form" class="form-inline" asp-controller="SystemLog" asp-action="LogDeleteOlderThan">
    <input type="hidden" asp-for="@Model.LogLevel" />
    <input type="submit" value='@sr["Delete Older Than"]' class="btn btn-sm btn-danger " />
    <select class="form-control" name="days" id="days">
        <option>1</option>
        <option>5</option>
        <option>10</option>
        <option>30</option>
        <option>60</option>
    </select>
    @sr["Days"]
</form>
