@model cloudscribe.SimpleContent.Web.ViewModels.BlogViewModel
@inject IUrlHelper myhelper
@{
    ViewData["AsidePrimaryToggle"] = "show";
}

@section Meta {
    <meta name="robots" content="noindex" />
    @{await Html.RenderPartialAsync("BlogMetaPartial", Model); }
}
@section Styles {
    @{await Html.RenderPartialAsync("BlogStylePartial", Model); }
}

@if (Model.ProjectSettings.ShowTitle)
{
    await Html.RenderPartialAsync("BlogHeaderPartial", Model.ProjectSettings);
}
<div itemscope itemtype="http://schema.org/Blog" class="blogroot">
    @{await Html.RenderPartialAsync("PostListPartial", Model); }
</div>
<nav>
    <cs-pager cs-paging-info="@Model.Paging"
              cs-pagenumber-param="page"
              cs-show-first-last="false"
              cs-show-numbered="false"
              cs-use-reverse-increment="true"
              cs-suppress-empty-nextprev="true"
              cs-previous-page-text="< Older"
              cs-next-page-text="Newer >"
              asp-route="@Model.BlogRoutes.BlogArchiveRouteName"
              asp-route-year="@Model.Year"
              asp-route-month="@Model.Month.ToString("00")"
              asp-route-day="@Model.Day.ToString("00")"
              cs-pager-ul-class="pagination d-flex flex-wrap"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link"></cs-pager>
</nav>
@section AsidePrimary {
    @{await Html.RenderPartialAsync("AboutPartial"); }
    @{await Html.RenderPartialAsync("CategoryListPartial", Model.Categories); }
    @{await Html.RenderPartialAsync("ArchiveListPartial", Model.Archives); }
}

