@model cloudscribe.SimpleContent.Web.ViewModels.RecentPostsViewModel
@inject cloudscribe.SimpleContent.Models.IBlogRoutes blogRoutes
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Models
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SimpleContent> sr
@inject ISimpleContentThemeHelper themeHelper
@{
    var defaultImageUrl = ""; //you can specify a default image
    var themeSettings = themeHelper.GetThemeSettings();
}
@functions{

    public string GetUrl(IPost post)
    {
        if (Model.ProjectSettings.IncludePubDateInPostUrls)
        {
            return Url.RouteUrl(blogRoutes.PostWithDateRouteName, new { year = post.PubDate.Value.Year, month = post.PubDate.Value.Month.ToString("00"), day = post.PubDate.Value.Day.ToString("00"), slug = post.Slug });

        }

        return Url.RouteUrl(blogRoutes.PostWithoutDateRouteName, new { slug = post.Slug });

    }

}
@if (Model.Posts.Count > 0)
{
    <nav aria-labelledby="hRelatedPosts">
        <h3 id="hRelatedPosts" class="featured-posts"><i class="@themeSettings.Icons.RelatedPosts" aria-hidden="true"></i>&nbsp;@sr["Related Posts"]</h3>
        @foreach (var post in Model.Posts)
        {
            if (!post.PubDate.HasValue) { continue; }
            var imgUrl = Model.ExtractFirstImageUrl(post, Url, defaultImageUrl);
            <div class="media mb-1">
                @if (!string.IsNullOrWhiteSpace(imgUrl))
                {
                    <a class="pull-left" href="@GetUrl(post)"><img class="media-object" src="@imgUrl" width="100" alt="@post.Title"></a>
                }
                <div class="media-body ps-1">
                    <h4 class="media-heading">
                        <a href="@GetUrl(post)">@post.Title</a>
                    </h4>
                    <small>@Model.FormatDate(post.PubDate.Value)</small>
                </div>
            </div>
        }
    </nav>
}
