@model cloudscribe.SimpleContent.ContentTemplates.ViewModels.EverythingModel
@{
    var columnCount = 0;
    if (!string.IsNullOrWhiteSpace(Model.SectionFiveContent)) { columnCount += 1; }
    if (!string.IsNullOrWhiteSpace(Model.SectionSixContent)) { columnCount += 1; }
    if (!string.IsNullOrWhiteSpace(Model.SectionSevenContent)) { columnCount += 1; }
    if (!string.IsNullOrWhiteSpace(Model.SectionEightContent)) { columnCount += 1; }

}
@functions{
    public string GetCssClass(int columnCount)
    {
        switch (columnCount)
        {
            case 4:
                return "col-12 col-md-6 col-lg-3";
            case 3:
                return "col-12 col-md-6 col-lg-4";
            case 2:
                return "col-12 col-md-6 col-lg-6";

            case 1:
            default:
                return "col";

        }
    }
}
<div class="row">
    @if (!string.IsNullOrWhiteSpace(Model.SectionFiveContent))
    {
        <div class="@GetCssClass(columnCount)">
            @if (!string.IsNullOrWhiteSpace(Model.SectionFiveResizedUrl))
            {
                <img src="@Model.SectionFiveResizedUrl" class="image-responsive mb-1" alt="@Model.SectionFiveAltText" />
            }
            @if (!string.IsNullOrWhiteSpace(Model.SectionFiveHeading))
            {
                <h3>@Model.SectionFiveHeading</h3>
            }
            @Html.Raw(Model.SectionFiveContent)
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.SectionSixContent))
    {
        <div class="@GetCssClass(columnCount)">
            @if (!string.IsNullOrWhiteSpace(Model.SectionSixResizedUrl))
            {
                <img src="@Model.SectionSixResizedUrl" class="image-responsive mb-1" alt="@Model.SectionSixAltText" />
            }
            @if (!string.IsNullOrWhiteSpace(Model.SectionSixHeading))
            {
                <h3>@Model.SectionSixHeading</h3>
            }
            @Html.Raw(Model.SectionSixContent)
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.SectionSevenContent))
    {
        <div class="@GetCssClass(columnCount)">
            @if (!string.IsNullOrWhiteSpace(Model.SectionSevenResizedUrl))
            {
                <img src="@Model.SectionSevenResizedUrl" class="image-responsive mb-1" alt="@Model.SectionSevenAltText" />
            }
            @if (!string.IsNullOrWhiteSpace(Model.SectionSevenHeading))
            {
                <h3>@Model.SectionSevenHeading</h3>
            }
            @Html.Raw(Model.SectionSevenContent)
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.SectionEightContent))
    {
        <div class="@GetCssClass(columnCount)">
            @if (!string.IsNullOrWhiteSpace(Model.SectionEightResizedUrl))
            {
                <img src="@Model.SectionEightResizedUrl" class="image-responsive mb-1" alt="@Model.SectionEightAltText" />
            }
            @if (!string.IsNullOrWhiteSpace(Model.SectionEightHeading))
            {
                <h3>@Model.SectionEightHeading</h3>
            }
            @Html.Raw(Model.SectionEightContent)
        </div>
    }
</div>
