@model cloudscribe.SimpleContent.ContentTemplates.ViewModels.SectionsWithImageViewModel
@if (!string.IsNullOrWhiteSpace(Model.SectionOneContent))
{
<div class="clearfix">
    @if (!string.IsNullOrWhiteSpace(Model.SectionOneHeading))
    {
        <h3>@Model.SectionOneHeading</h3>
    }
    @if (!string.IsNullOrWhiteSpace(Model.SectionOneResizedUrl))
    {
        <div class="float-md-right simple-side-image ms-md-2">
            <img class="image-responsive" src="@Model.SectionOneResizedUrl" alt="@Model.SectionOneAltText" />
        </div>
    }
    @Html.Raw(Model.SectionOneContent)
</div>
    await Html.RenderPartialAsync("AdSpacePartial");
}
@if (!string.IsNullOrWhiteSpace(Model.SectionTwoContent))
{
<div class="clearfix">
    @if (!string.IsNullOrWhiteSpace(Model.SectionTwoHeading))
    {
        <h3>@Model.SectionTwoHeading</h3>
    }
    @if (!string.IsNullOrWhiteSpace(@Model.SectionTwoResizedUrl))
    {
        <div class="float-md-left simple-side-image me-md-2">
            <img class="image-responsive" src="@Model.SectionTwoResizedUrl" alt="@Model.SectionTwoAltText" />
        </div>
    }
    @Html.Raw(Model.SectionTwoContent)
</div>
    await Html.RenderPartialAsync("AdSpacePartial");
}
@if (!string.IsNullOrWhiteSpace(Model.SectionThreeContent))
{
<div class="clearfix">
    @if (!string.IsNullOrWhiteSpace(Model.SectionThreeHeading))
    {
        <h3>@Model.SectionThreeHeading</h3>
    }
    @if (!string.IsNullOrWhiteSpace(Model.SectionThreeResizedUrl))
    {
        <div class="float-md-right simple-side-image ms-md-2">
            <img class="image-responsive" src="@Model.SectionThreeResizedUrl" alt="@Model.SectionThreeAltText" />
        </div>
    }
    @Html.Raw(Model.SectionThreeContent)
</div>
    await Html.RenderPartialAsync("AdSpacePartial");
}
@if (!string.IsNullOrWhiteSpace(Model.SectionFourContent))
{
<div class="clearfix">
    @if (!string.IsNullOrWhiteSpace(Model.SectionFourHeading))
    {
        <h3>@Model.SectionFourHeading</h3>
    }
    @if (!string.IsNullOrWhiteSpace(Model.SectionFourResizedUrl))
    {
        <div class="float-md-left simple-side-image me-md-2">
            <img class="image-responsive" src="@Model.SectionFourResizedUrl" alt="@Model.SectionFourAltText" />
        </div>
    }
    @Html.Raw(Model.SectionFourContent)
</div>
    await Html.RenderPartialAsync("AdSpacePartial");
}
