@model cloudscribe.SimpleContent.ContentTemplates.ViewModels.SectionsWithImageViewModel
@{
    var columnCount = 0;
    if (!string.IsNullOrWhiteSpace(Model.SectionOneContent)) { columnCount += 1; }
    if (!string.IsNullOrWhiteSpace(Model.SectionTwoContent)) { columnCount += 1; }
    //if (!string.IsNullOrWhiteSpace(Model.SectionThreeContent)) { columnCount += 1; }
    //if (!string.IsNullOrWhiteSpace(Model.SectionFourContent)) { columnCount += 1; }

}
@functions{
    public string GetLeftCssClass(int columnCount)
    {
        switch (columnCount)
        {
            case 2:
                return "col-12 col-md-4 col-lg-4";

            case 1:
            default:
                return "col";

        }
    }
    public string GetRightCssClass(int columnCount)
    {
        switch (columnCount)
        { 
            case 2:
                return "col-12 col-md-8 col-lg-8";

            case 1:
            default:
                return "col";

        }
    }
}
<div class="row">
    @if (!string.IsNullOrWhiteSpace(Model.SectionOneContent))
    {
        <div class="@GetLeftCssClass(columnCount)">
            @if (!string.IsNullOrWhiteSpace(Model.SectionOneResizedUrl))
            {
                <img src="@Model.SectionOneResizedUrl" class="image-responsive mb-1" alt="@Model.SectionOneAltText" />
            }
            @if (!string.IsNullOrWhiteSpace(Model.SectionOneHeading))
            {
                <h3>@Model.SectionOneHeading</h3>
            }
            @Html.Raw(Model.SectionOneContent)
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.SectionTwoContent))
    {
        <div class="@GetRightCssClass(columnCount)">
            @if (!string.IsNullOrWhiteSpace(Model.SectionTwoResizedUrl))
            {
                <img src="@Model.SectionTwoResizedUrl" class="image-responsive mb-1" alt="@Model.SectionTwoAltText" />
            }
            @if (!string.IsNullOrWhiteSpace(Model.SectionTwoHeading))
            {
                <h3>@Model.SectionTwoHeading</h3>
            }
            @Html.Raw(Model.SectionTwoContent)
        </div>
    }
    
</div>
