@model cloudscribe.SimpleContent.Web.ViewModels.PageEditViewModel
@using Microsoft.Extensions.Localization
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Models
@using cloudscribe.Web.Common.Helpers
@using System.Globalization
@using cloudscribe.Web.Common.Models
@using cloudscribe.Web.Common.Components
@using cloudscribe.SimpleContent.Web.TagHelpers
@using Microsoft.Extensions.Options
@inject IStringLocalizer<SimpleContent> sr
@inject ITinyMceEditorOptionsResolver editorOptionsResolver
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "*, cloudscribe.Web.Common"
@addTagHelper "*, cloudscribe.SimpleContent.Web"
@{ 
    var meOptions = await editorOptionsResolver.GetTinyMceEditorOptions();
    var contentId = Model.Id;
    if (string.IsNullOrWhiteSpace(contentId)) { contentId = "draft-page-" + DateTime.UtcNow.ToString("yyyy-MM-dd-hh"); }
}  
<div class="form-group">
	<label asp-for="Content" class="col-md-2 control-label">@sr["Content"]</label>
	<div class="col-md-10">
    @if (Model.DisableEditor)
    {
        <textarea asp-for="Content" class="form-control" rows="10" cols="70"></textarea>
    }
    else
    {
        if (Model.ContentType == "markdown")
        {
            <textarea asp-for="Content" class="form-control" rows="10" cols="70"
                      data-markdown-unobtrusive=""
                      data-markdown-autosave="true"
                      data-markdown-contentid="@contentId"
                      data-markdown-forceSync="true"
                      data-markdown-indentWithTabs="true"
                      data-markdown-spellChecker="true"
                      data-markdown-filemodalid="#fileBrowseDialog"
                      data-markdown-filebrowseurl="@meOptions.ImageBrowseUrl"
                      data-markdown-dropfileuploadurl="@meOptions.DropFileUrl">
            </textarea>
            <div id="fileBrowseDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="height:99%;width:99%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i title="Close" class="fa fa-close"></i></button>
                        </div>
                        <iframe id="frFileDialog" frameborder="0" style="overflow:hidden;height:100%;width:100%;min-height: 600px;"></iframe>
                    </div>
                </div>
            </div>

        }
        else
        {
            <textarea asp-for="Content" class="form-control"
                      data-tinymce=""
                      data-tinymce-config-url="@meOptions.CustomConfigPath"
                      data-tinymce-config-language="@meOptions.LanguageCode"
                      data-tinymce-config-dropfileuploadurl="@meOptions.DropFileUrl"
                      data-tinymce-config-filebrowserurl="@meOptions.FileBrowseUrl"
                      data-tinymce-config-imagebrowseurl="@meOptions.ImageBrowseUrl">
            </textarea>

        }

    }
		<span asp-validation-for="Content" class="text-danger"></span>
	</div>
</div>
