@model cloudscribe.SimpleContent.Web.ViewModels.ContentHistoryViewModel
@inject IStringLocalizer<SimpleContent> sr
@inject IPageRoutes  pageRoutes
@{
    var format = sr["{0} - Content Edit History"].ToString();
    ViewData["Title"] = string.Format(format, Model.ContentTitle);
}
<h1>@ViewData["Title"]</h1>
@{ await Html.RenderPartialAsync("HistoryGridPartial", Model); }

<cs-pager asp-route="@pageRoutes.PageHistoryRouteName"
          asp-route-slug="@Model.ContentSlug"
          asp-route-sortmode="@Model.SortMode"
          asp-route-pagesize="@Model.History.PageSize"
          cs-paging-pagesize="@Model.History.PageSize"
          cs-paging-pagenumber="@Model.History.PageNumber"
          cs-paging-totalitems="@Model.History.TotalItems"
          cs-pager-ul-class="pagination d-flex flex-wrap"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"
          cs-first-page-title='@sr["First Page"]'
          cs-last-page-title='@sr["Last Page"]'
          cs-previous-page-title='@sr["Previous page"]'
          cs-next-page-title='@sr["Next page"]'></cs-pager>
@if (Model.CanEditPages)
{
    <form role="form" class="form-inline" asp-controller="Page" asp-action="DeleteHistoryOlderThan">
        <input type="hidden" name="id" value="@Model.ContentId" />
        <input type="submit" value='@sr["Delete Older Than"]' class="btn btn-sm btn-danger " />
        <select class="form-control ml-1 mr-1" name="days" id="days">
            <option value="-1">All</option>
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>60</option>
            <option>90</option>
            <option>120</option>
        </select>
        @sr["Days"]
    </form>

}