@model cloudscribe.SimpleContent.Web.ViewModels.PageDevelopmentViewModel
@inject IPageRoutes pageRoutes
@inject IStringLocalizer<SimpleContent> sr
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>@ViewBag.Title</h1>
    <a href="@Url.RouteUrl(pageRoutes.PageEditRouteName, new { slug=Model.Slug })" class="btn btn-secondary">@sr["Return to Page Editing"]</a>
</div>
<div class="alert alert-warning col-md-10 col-lg-8 py-2">
    @sr["With great power comes great responsibility. This page is intended for use by developers, for adding javscript and css into the page. Use this page only if you understand what you are doing."]
</div>

<h2>@sr["Raw JavaScript"]</h2>
<div class="mb-4">
    <form asp-controller="Page" asp-action="AddScriptResource" role="form">
        <div class="mb-3">
            <label asp-for="Script" class="form-label">@sr["Enter your JavaScript below. Do not include <script> tags."]</label>
            <p>
                @sr["Scripts are automatically validated for security - only safe DOM manipulation and event handling are permitted."] <br />
            </p>
            <input type="hidden" asp-for="Slug" />
            <textarea asp-for="Script" class="form-control" rows="8" data-bs-toggle="tooltip"
                      title='@sr["Enter custom Javascript to run on your page. Do not include <script> tags."]'></textarea>
            <span asp-validation-for="Script" class="invalid-feedback"></span>
        </div>
        <button type="submit" class="btn btn-primary">@sr["Save JavaScript"]</button>
    </form>
</div>

<h2>@sr["JavaScript URLs"]</h2>
<div class="mb-4">
    <table class="table table-striped table-hover">
        <tr>
            <th>@sr["Environment"]</th>
            <th>@sr["Sort"]</th>
            <th>@sr["Script"]</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Js)
        {
            <tr>
                <td>@item.Environment</td>
                <td>@item.Sort</td>
                <td>@item.Url</td>
                <td>
                    <form asp-controller="Page" asp-action="RemoveResource">
                        <input type="hidden" asp-for="Slug" />
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-sm btn-warning">@sr["Delete"]</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">
                <partial name="AddJsPartial" model="@Model.AddResourceViewModel" />
            </td>
        </tr>
    </table>
</div>

<h2>@sr["CSS URLs"]</h2>
<div class="mb-4">
    <table class="table table-striped table-hover">
        <tr>
            <th>@sr["Environment"]</th>
            <th>@sr["Sort"]</th>
            <th>@sr["CSS"]</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Css)
        {
            <tr>
                <td>@item.Environment</td>
                <td>@item.Sort</td>
                <td>@item.Url</td>
                <td>
                    <form asp-controller="Page" asp-action="RemoveResource">
                        <input type="hidden" asp-for="Slug" />
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-sm btn-warning">@sr["Delete"]</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">
                <partial name="AddCssPartial" model="@Model.AddResourceViewModel" />
            </td>
        </tr>
    </table>
</div>

@section Scripts {
    <script src="~/cr/js/jquery.validate.min.js"></script>
    <script src="~/cr/js/jquery.validate.unobtrusive.min.js"></script>
}