@model cloudscribe.SimpleContent.Web.ViewModels.PageDevelopmentViewModel
@inject IPageRoutes pageRoutes
@inject IStringLocalizer<SimpleContent> sr
<h1>@ViewBag.Title <small><a href="@Url.RouteUrl(pageRoutes.PageRouteName, new { slug=Model.Slug })">@sr["Cancel"]</a></small></h1>
<p>@sr["With great power comes great responsibility. This page is intended for use by developers, for adding javscript and css into the page. Use this page only if you understand what you are doing."]</p>
<div>
    <table class="table table-striped table-hover">
        <tr>
            <th>@sr["Environment"]</th>
            <th>@sr["Sort"]</th>
            <th>@sr["Script"]</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Js)
        {
            <tr>
                <td>@item.Environment</td>
                <td>@item.Sort</td>
                <td>@item.Url</td>
                <td>
                    <form asp-controller="Page" asp-action="RemoveResource">
                        <input type="hidden" asp-for="Slug" />
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-sm btn-warning">@sr["Delete"]</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">
                <partial name="AddJsPartial" model="@Model.AddResourceViewModel" />
            </td>
        </tr>
    </table>

</div>
<div>

    <table class="table table-striped table-hover">
        <tr>
            <th>@sr["Environment"]</th>
            <th>@sr["Sort"]</th>
            <th>@sr["CSS"]</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Css)
        {
            <tr>
                <td>@item.Environment</td>
                <td>@item.Sort</td>
                <td>@item.Url</td>
                <td>
                    <form asp-controller="Page" asp-action="RemoveResource">
                        <input type="hidden" asp-for="Slug" />
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-sm btn-warning">@sr["Delete"]</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">
                <partial name="AddCssPartial" model="@Model.AddResourceViewModel" />
            </td>
        </tr>
    </table>
</div>
<form asp-controller="Page" asp-action="AddScriptResource" class="form-inline" role="form">
    <div class="mb-3">
        <label asp-for="Script">@sr["Script Initialisation (you DO NOT need to enter any form of 'document.ready' script or function)"]</label>
        <input type="hidden" asp-for="Slug" />
        <textarea asp-for="Script" class="form-control" data-bs-toggle="tooltip" title='@sr["Here you can enter Javascript or JQuery for the page to run, this is useful if you have uploaded some Javascript above that requires initialising on the page in order to run. You DO NOT need to enter 'document.ready'. This should be used with great caution!"]'></textarea>
        <span asp-validation-for="Script" class="invalid-feedback"></span>
    </div>
    <button type="submit" class="btn btn-primary">@sr["Add Javascript"]</button>
</form>

@section Scripts {
    <script src="~/cr/js/jquery.validate.min.js"></script>
    <script src="~/cr/js/jquery.validate.unobtrusive.min.js"></script>
}