@model cloudscribe.SimpleContent.Web.ViewModels.PageEditViewModel
@inject IStringLocalizer<SimpleContent> sr
@inject ISummernoteOptionsResolver summernoteOptionsResolver
@inject ICkeditorOptionsResolver editorOptionsResolver
@{ 
    var summernoteOptions = await summernoteOptionsResolver.GetSummernoteOptions();
    var ckOptions = await editorOptionsResolver.GetCkeditorOptions();
    var contentId = Model.Id;
    if (string.IsNullOrWhiteSpace(contentId)) { contentId = "draft-page-" + DateTime.UtcNow.ToString("yyyy-MM-dd-hh"); }
}  
<div class="mb-3">
	<label asp-for="Content">@sr["Content"]</label>
    @if (Model.DisableEditor)
    {
        <textarea asp-for="Content" class="form-control" rows="10" cols="70"></textarea>
    }
    else
    {
        if (Model.ContentType == "markdown")
        {
            <textarea asp-for="Content" class="form-control" rows="10" cols="70"
                      data-markdown-unobtrusive=""
                      data-markdown-autosave="true"
                      data-markdown-contentid="@contentId"
                      data-markdown-forceSync="true"
                      data-markdown-indentWithTabs="true"
                      data-markdown-spellChecker="true"
                      data-markdown-filemodalid="#fileBrowseDialog"
                      data-markdown-filebrowseurl="@summernoteOptions.ImageBrowseUrl"
                      data-markdown-dropfileuploadurl="@summernoteOptions.DropFileUrl"></textarea>
                    <div id="fileBrowseDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg" style="height:99%;width:99%;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label='@sr["Close"]'></button>
                                </div>
                                <iframe id="frFileDialog" frameborder="0" style="overflow:hidden;height:100%;width:100%;min-height: 600px;"></iframe>
                            </div>
                        </div>
                    </div>

        }
        else
        {
            <textarea asp-for="Content" rows="5" class="form-control"
                data-summernote-unobtrusive=""
                data-summernote-config-url="@summernoteOptions.CustomConfigPath"
                data-summernote-toolbar-config-url="@summernoteOptions.CustomToolbarConfigPath"
                data-summernote-config-language="@summernoteOptions.LanguageCode"
                data-summernote-config-dropfileuploadurl="@summernoteOptions.DropFileUrl"
                data-summernote-config-filebrowserurl="@summernoteOptions.FileBrowseUrl"
                data-summernote-config-imagebrowseurl="@summernoteOptions.ImageBrowseUrl">
            </textarea>
        }

    }
    <span asp-validation-for="Content" class="text-danger"></span>
</div>
