@model cloudscribe.SimpleContent.Web.ViewModels.PageViewModel
@inject IStringLocalizer<SimpleContent> sr
@inject ISimpleContentThemeHelper themeHelper

<div class="my-2">
    @if (Model.ProjectSettings.ShowCreatedDate && Model.ProjectSettings.ShowCreatedBy && Model.CurrentPage.CreatedByUser != null)
    {
        <small>@sr["Created"]: @Model.CurrentPage.CreatedUtc.ToString("dd/MM/yyyy") By: @Model.CurrentPage.CreatedByUser</small>
    }
    else if (Model.ProjectSettings.ShowCreatedDate)
    {
        <small>@sr["Created"]: @Model.CurrentPage.CreatedUtc.ToString("dd/MM/yyyy")</small>
    }
    else if (Model.ProjectSettings.ShowCreatedBy && Model.CurrentPage.CreatedByUser != null)
    {
        <small>@sr["Created By"]: @Model.CurrentPage.CreatedByUser</small>
    }

    @if ((Model.ProjectSettings.ShowCreatedDate || Model.ProjectSettings.ShowCreatedBy) && (Model.ProjectSettings.ShowLastModifiedDate || Model.ProjectSettings.ShowLastModifiedBy))
    {
        @Html.Raw("&nbsp;|&nbsp;");
    }
    @if (Model.ProjectSettings.ShowLastModifiedDate && Model.ProjectSettings.ShowLastModifiedBy && Model.CurrentPage.LastModifiedByUser != null)
    {
        <small>@sr["Last Updated"]: @Model.CurrentPage.LastModified.ToString("dd/MM/yyyy") By: @Model.CurrentPage.LastModifiedByUser</small>
    }
    else if (Model.ProjectSettings.ShowLastModifiedDate)
    {
        <small>@sr["Updated"]: @Model.CurrentPage.LastModified.ToString("dd/MM/yyyy")</small>
    }
    else if (Model.ProjectSettings.ShowLastModifiedBy && Model.CurrentPage.LastModifiedByUser != null)
    {
        <small>@sr["Updated By"]: @Model.CurrentPage.LastModifiedByUser</small>
    }
</div>