@model cloudscribe.SimpleContent.Web.ViewModels.RecentPostsViewModel
@inject cloudscribe.SimpleContent.Models.IBlogRoutes blogRoutes
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Models
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SimpleContent> sr
@{
    var defaultImageUrl = ""; //you can specify a default image
}
@functions{

    public string GetUrl(IPost post)
    {
        if (Model.ProjectSettings.IncludePubDateInPostUrls)
        {
            return Url.RouteUrl(blogRoutes.PostWithDateRouteName, new { year = post.PubDate.Year, month = post.PubDate.Month.ToString("00"), day = post.PubDate.Day.ToString("00"), slug = post.Slug });

        }

        return Url.RouteUrl(blogRoutes.PostWithoutDateRouteName, new { slug = post.Slug });

    }

}
@if (Model.Posts.Count > 0)
{
    <h3 class="recent-posts">@sr["Recent Posts"]</h3>
    @foreach (var post in Model.Posts)
    {
        var imgUrl = Model.ExtractFirstImageUrl(post, Url, defaultImageUrl);
        <div class="media mb-1">
            @if (!string.IsNullOrWhiteSpace(imgUrl))
            {
                <a class="pull-left" href="@GetUrl(post)"><img class="media-object" src="@imgUrl" width="100" height="75" alt="image"></a>
            }
            <div class="media-body pl-1">
                <h4 class="media-heading">
                    <a href="@GetUrl(post)">@post.Title</a>
                </h4>
                <small>@Model.FormatDate(post.PubDate)</small>
            </div>
        </div>
    }
}
