@model cloudscribe.SimpleContent.ContentTemplates.ViewModels.BingMapViewModel
@using cloudscribe.SimpleContent.ContentTemplates
@inject IStringLocalizer<ContentTemplateResources> sr
@inject ICkeditorOptionsResolver editorOptionsResolver
@{
    var ckOptions = await editorOptionsResolver.GetCkeditorOptions(); 
}


<ul class="nav nav-tabs" role="tablist">
    <li id="cedit-tab1" class="nav-item">
        <a class="nav-link active" href="#tabMain" data-bs-toggle="tab">@sr["Map"]</a>
    </li>
    <li id="cedit-tab2" class="nav-item">
        <a class="nav-link" href="#tabTopContent" data-bs-toggle="tab">@sr["Top Content"]</a>
    </li>
    <li id="cedit-tab3" class="nav-item">
        <a class="nav-link" href="#tabBottomContent" data-bs-toggle="tab">@sr["Bottom Content"]</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane pt-2 active" id="tabMain" role="tabpanel" aria-labelledby="cedit-tab1">

        <div class="mb-3">
            <label asp-for="LocationName" class="control-label">@sr["Location Name"]</label>
            <input asp-for="LocationName" class="form-control" />
            <span asp-validation-for="LocationName" class="invalid-feedback"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LocationAddress" class="control-label">@sr["Location Address"]</label>
            <input asp-for="LocationAddress" class="form-control" />
            <span asp-validation-for="LocationAddress" class="invalid-feedback"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ApiKey" class="control-label">@sr["Bing Map Api Key"]</label>
            <input asp-for="ApiKey" class="form-control" />
            <span asp-validation-for="ApiKey" class="invalid-feedback"></span>
            <p><a href="https://www.microsoft.com/en-us/maps/create-a-bing-maps-key" target="_blank">@sr["Get a Bing Map API Key"]</a></p>
        </div>


    </div>
    <div class="tab-pane pt-2" id="tabTopContent" role="tabpanel" aria-labelledby="cedit-tab2">
        <textarea asp-for="ContentAbove" class="form-control"
                  data-ckeditor-unobtrusive=""
                  data-ckeditor-config-url="@ckOptions.CustomConfigPath"
                  data-ckeditor-config-language="@ckOptions.LanguageCode"
                  data-ckeditor-config-dropfileuploadurl="@ckOptions.DropFileUrl"
                  data-ckeditor-config-filebrowserurl="@ckOptions.FileBrowseUrl"
                  data-ckeditor-config-imagebrowseurl="@ckOptions.ImageBrowseUrl"></textarea>

    </div>
    <div class="tab-pane pt-2" id="tabBottomContent" role="tabpanel" aria-labelledby="cedit-tab3">
        <textarea asp-for="ContentBelow" class="form-control"
                  data-ckeditor-unobtrusive=""
                  data-ckeditor-config-url="@ckOptions.CustomConfigPath"
                  data-ckeditor-config-language="@ckOptions.LanguageCode"
                  data-ckeditor-config-dropfileuploadurl="@ckOptions.DropFileUrl"
                  data-ckeditor-config-filebrowserurl="@ckOptions.FileBrowseUrl"
                  data-ckeditor-config-imagebrowseurl="@ckOptions.ImageBrowseUrl"></textarea>
    </div>
</div>
<div id="fileBrowseDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="height:99%;min-width:99%!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
            </div>
            <iframe id="frFileDialog" frameborder="0" style="overflow:hidden;height:100%;width:100%;min-height: 650px;"></iframe>
        </div>
    </div>
</div>
