@model cloudscribe.SimpleContent.ContentTemplates.ViewModels.SectionsWithImageViewModel
@using cloudscribe.SimpleContent.ContentTemplates
@using cloudscribe.SimpleContent.ContentTemplates.Configuration
@using Microsoft.AspNetCore.Antiforgery
@inject IStringLocalizer<ContentTemplateResources> sr
@inject IAntiforgery antiforgery
@inject ISummernoteOptionsResolver summernoteOptionsResolver
@inject IColumnTemplateOptionsProvider optionsProvider
@{

    var tokens = antiforgery.GetAndStoreTokens(Context);
    var summernoteOptions = await summernoteOptionsResolver.GetSummernoteOptions();
    var options = await optionsProvider.ResolveColumnTemplateOptions(Context.Request.Host.Host, Context.Request.Path);
}
@functions{
    public string GetImageUrl(string imageUrl)
    {
        if (!string.IsNullOrWhiteSpace(imageUrl)) { return imageUrl; }
        return "/cr/images/690x517-placeholder.png";
    }
}
<p>@sr["Sections with no content body will not be shown even if they have images."]</p>
<partial name="SectionsWithImageEditLayoutSelector" model="Model" />
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a id="cedit-tab1" class="nav-link active" href="#tabCol1" data-bs-toggle="tab" role="tab" aria-controls="tabCol1" aria-selected="true">@sr["Section 1"]</a>
    </li>
    <li class="nav-item">
        <a id="cedit-tab2" class="nav-link" href="#tabCol2" data-bs-toggle="tab" role="tab" aria-controls="tabCol2" aria-selected="false">@sr["Section 2"]</a>
    </li>
    <li class="nav-item">
        <a id="cedit-tab3" class="nav-link" href="#tabCol3" data-bs-toggle="tab" role="tab" aria-controls="tabCol3" aria-selected="false">@sr["Section 3"]</a>
    </li>
    <li class="nav-item">
        <a id="cedit-tab4" class="nav-link" href="#tabCol4" data-bs-toggle="tab" role="tab" aria-controls="tabCol4" aria-selected="false">@sr["Section 4"]</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="tabCol1" role="tabpanel" aria-labelledby="cedit-tab1">
        <div class="d-flex align-items-stretch">
            <div class="cs-crop-container">
                <img id="dz1Image" style="max-width:690px;" src="@GetImageUrl(Model.SectionOneResizedUrl)" />
            </div>
            <div class="d-flex flex-column">
                <div id="dz1" class="cloudscribe-dropzone-standalone" style="cursor:pointer;"
                     data-dropzone=""
                     data-upload-url="@Url.Action("DropFile", "FileManager")"
                     data-anti-forgery-token="@tokens.RequestToken"
                     data-file-browse-url="@summernoteOptions.ImageBrowseUrl"
                     data-file-crop-url="@summernoteOptions.CropFileUrl"
                     data-target-path="@options.NewImagePath"
                     data-create-thumb="@options.CreateThumbnails.ToString().ToLower()"
                     data-resize-image="true"
                     data-keep-original="@options.KeepOriginalSizeImages.ToString().ToLower()"
                     data-enable-browse-server="@options.EnableBrowseServer.ToString().ToLower()"
                     data-enable-crop="@options.EnableCropping.ToString().ToLower()"
                     data-accepted-files="image/*"
                     data-target-fullsize-input-id="SectionOneFullSizeUrl"
                     data-target-resized-input-id="SectionOneResizedUrl"
                     data-target-thumb-input-id=""
                     data-target-fullsize-image-id="dz1Image"
                     data-target-resized-image-id=""
                     data-target-thumb-image-id=""
                     data-fullsize-placeholder-image="@options.PlaceholderImageUrl"
                     data-resized-placeholder-image=""
                     data-thumb-placeholder-image=""
                     data-resize-width="@options.ResizeMaxWidth"
                     data-resize-height="@options.ResizeMaxHeight"
                     data-crop-area-width="@options.CropAreaWidth"
                     data-crop-area-height="@options.CropAreaHeight">
                    @sr["Drop file here or click to browse device for file."]
                </div>
                <div class="ps-1 pt-1">
                    <div class="d-flex flex-column">
                        <button id="dz1-browse-server" type="button" class="mb-1 btn btn-primary collapse">@sr["Browse Server"] <i class="fas fa-search" aria-hidden="true"></i></button>
                        <button id="dz1-save-crop" type="button" class="mb-1 btn btn-primary collapse">@sr["Save Crop"] <i class="far fa-save" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <input asp-for="SectionOneFullSizeUrl" type="hidden" />
        <input asp-for="SectionOneResizedUrl" type="hidden" />
        <div class="mb-3">
            <label asp-for="SectionOneAltText">@sr["Image Description"]</label>
            <input asp-for="SectionOneAltText" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="SectionOneHeading">@sr["Section Heading - optional"]</label>
            <input asp-for="SectionOneHeading" class="form-control" />
        </div>
        <label asp-for="SectionOneContent">@sr["Section 1 Content"]</label>
        <textarea asp-for="SectionOneContent" rows="5" class="form-control"
            data-summernote-unobtrusive=""
            data-summernote-config-url="@summernoteOptions.CustomConfigPath"
            data-summernote-toolbar-config-url="@summernoteOptions.CustomToolbarConfigPath"
            data-summernote-config-language="@summernoteOptions.LanguageCode"
            data-summernote-config-dropfileuploadurl="@summernoteOptions.DropFileUrl"
            data-summernote-config-filebrowserurl="@summernoteOptions.FileBrowseUrl"
            data-summernote-config-imagebrowseurl="@summernoteOptions.ImageBrowseUrl">
        </textarea>
    </div>
    <div class="tab-pane" id="tabCol2" role="tabpanel" aria-labelledby="cedit-tab2">
        <div class="d-flex align-items-stretch">
            <div class="cs-crop-container">
                <img id="dz2Image" style="max-width:690px;" src="@GetImageUrl(Model.SectionTwoResizedUrl)" />
            </div>
            <div class="d-flex flex-column">
                <div id="dz2" class="cloudscribe-dropzone-standalone" style="cursor:pointer;"
                     data-dropzone=""
                     data-upload-url="@Url.Action("DropFile", "FileManager")"
                     data-anti-forgery-token="@tokens.RequestToken"
                     data-file-browse-url="@summernoteOptions.ImageBrowseUrl"
                     data-file-crop-url="@summernoteOptions.CropFileUrl"
                     data-target-path="@options.NewImagePath"
                     data-create-thumb="@options.CreateThumbnails.ToString().ToLower()"
                     data-resize-image="true"
                     data-keep-original="@options.KeepOriginalSizeImages.ToString().ToLower()"
                     data-enable-browse-server="@options.EnableBrowseServer.ToString().ToLower()"
                     data-enable-crop="@options.EnableCropping.ToString().ToLower()"
                     data-accepted-files="image/*"
                     data-target-fullsize-input-id="SectionTwoFullSizeUrl"
                     data-target-resized-input-id="SectionTwoResizedUrl"
                     data-target-thumb-input-id=""
                     data-target-fullsize-image-id="dz2Image"
                     data-target-resized-image-id=""
                     data-target-thumb-image-id=""
                     data-fullsize-placeholder-image="@options.PlaceholderImageUrl"
                     data-resized-placeholder-image=""
                     data-thumb-placeholder-image=""
                     data-resize-width="@options.ResizeMaxWidth"
                     data-resize-height="@options.ResizeMaxHeight"
                     data-crop-area-width="@options.CropAreaWidth"
                     data-crop-area-height="@options.CropAreaHeight">
                    @sr["Drop file here or click to browse device for file."]
                </div>
                <div class="ps-1 pt-1">
                    <div class="d-flex flex-column">
                        <button id="dz2-browse-server" type="button" class="mb-1 btn btn-primary collapse">@sr["Browse Server"] <i class="fas fa-search" aria-hidden="true"></i></button>
                        <button id="dz2-save-crop" type="button" class="mb-1 btn btn-primary collapse">@sr["Save Crop"] <i class="far fa-save" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <input asp-for="SectionTwoFullSizeUrl" type="hidden" />
        <input asp-for="SectionTwoResizedUrl" type="hidden" />
        <div class="mb-3">
            <label asp-for="SectionTwoAltText">@sr["Image Description"]</label>
            <input asp-for="SectionTwoAltText" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="SectionTwoHeading">@sr["Section Heading - optional"]</label>
            <input asp-for="SectionTwoHeading" class="form-control" />
        </div>
        <label asp-for="SectionTwoContent">@sr["Section 2 Content"]</label>
        <textarea asp-for="SectionTwoContent" rows="5" class="form-control"
            data-summernote-unobtrusive=""
            data-summernote-config-url="@summernoteOptions.CustomConfigPath"
            data-summernote-toolbar-config-url="@summernoteOptions.CustomToolbarConfigPath"
            data-summernote-config-language="@summernoteOptions.LanguageCode"
            data-summernote-config-dropfileuploadurl="@summernoteOptions.DropFileUrl"
            data-summernote-config-filebrowserurl="@summernoteOptions.FileBrowseUrl"
            data-summernote-config-imagebrowseurl="@summernoteOptions.ImageBrowseUrl">
        </textarea>
    </div>
    <div class="tab-pane" id="tabCol3" role="tabpanel" aria-labelledby="cedit-tab3">

        <div class="d-flex align-items-stretch">
            <div class="cs-crop-container">
                <img id="dz3Image" style="max-width:690px;" src="@GetImageUrl(Model.SectionThreeResizedUrl)" />
            </div>
            <div class="d-flex flex-column">
                <div id="dz3" class="cloudscribe-dropzone-standalone" style="cursor:pointer;"
                     data-dropzone=""
                     data-upload-url="@Url.Action("DropFile", "FileManager")"
                     data-anti-forgery-token="@tokens.RequestToken"
                     data-file-browse-url="@summernoteOptions.ImageBrowseUrl"
                     data-file-crop-url="@summernoteOptions.CropFileUrl"
                     data-target-path="@options.NewImagePath"
                     data-create-thumb="@options.CreateThumbnails.ToString().ToLower()"
                     data-resize-image="true"
                     data-keep-original="@options.KeepOriginalSizeImages.ToString().ToLower()"
                     data-enable-browse-server="@options.EnableBrowseServer.ToString().ToLower()"
                     data-enable-crop="@options.EnableCropping.ToString().ToLower()"
                     data-accepted-files="image/*"
                     data-target-fullsize-input-id="SectionThreeFullSizeUrl"
                     data-target-resized-input-id="SectionThreeResizedUrl"
                     data-target-thumb-input-id=""
                     data-target-fullsize-image-id="dz3Image"
                     data-target-resized-image-id=""
                     data-target-thumb-image-id=""
                     data-fullsize-placeholder-image="@options.PlaceholderImageUrl"
                     data-resized-placeholder-image=""
                     data-thumb-placeholder-image=""
                     data-resize-width="@options.ResizeMaxWidth"
                     data-resize-height="@options.ResizeMaxHeight"
                     data-crop-area-width="@options.CropAreaWidth"
                     data-crop-area-height="@options.CropAreaHeight">
                    @sr["Drop file here or click to browse device for file."]
                </div>
                <div class="ps-1 pt-1">
                    <div class="d-flex flex-column">
                        <button id="dz3-browse-server" type="button" class="mb-1 btn btn-primary collapse">@sr["Browse Server"] <i class="fas fa-search" aria-hidden="true"></i></button>
                        <button id="dz3-save-crop" type="button" class="mb-1 btn btn-primary collapse">@sr["Save Crop"] <i class="far fa-save" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <input asp-for="SectionThreeFullSizeUrl" type="hidden" />
        <input asp-for="SectionThreeResizedUrl" type="hidden" />
        <div class="mb-3">
            <label asp-for="SectionThreeAltText">@sr["Image Description"]</label>
            <input asp-for="SectionThreeAltText" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="SectionThreeHeading">@sr["Section Heading - optional"]</label>
            <input asp-for="SectionThreeHeading" class="form-control" />
        </div>
        <label asp-for="SectionThreeContent">@sr["Section 3 Content"]</label>
        <textarea asp-for="SectionThreeContent" rows="5" class="form-control"
            data-summernote-unobtrusive=""
            data-summernote-config-url="@summernoteOptions.CustomConfigPath"
            data-summernote-toolbar-config-url="@summernoteOptions.CustomToolbarConfigPath"
            data-summernote-config-language="@summernoteOptions.LanguageCode"
            data-summernote-config-dropfileuploadurl="@summernoteOptions.DropFileUrl"
            data-summernote-config-filebrowserurl="@summernoteOptions.FileBrowseUrl"
            data-summernote-config-imagebrowseurl="@summernoteOptions.ImageBrowseUrl">
        </textarea>
    </div>
    <div class="tab-pane" id="tabCol4" role="tabpanel" aria-labelledby="cedit-tab4">

        <div class="d-flex align-items-stretch">
            <div class="cs-crop-container">
                <img id="dz4Image" style="max-width:690px;" src="@GetImageUrl(Model.SectionFourResizedUrl)" />
            </div>
            <div class="d-flex flex-column">
                <div id="dz4" class="cloudscribe-dropzone-standalone" style="cursor:pointer;"
                     data-dropzone=""
                     data-upload-url="@Url.Action("DropFile", "FileManager")"
                     data-anti-forgery-token="@tokens.RequestToken"
                     data-file-browse-url="@summernoteOptions.ImageBrowseUrl"
                     data-file-crop-url="@summernoteOptions.CropFileUrl"
                     data-target-path="@options.NewImagePath"
                     data-create-thumb="@options.CreateThumbnails.ToString().ToLower()"
                     data-resize-image="true"
                     data-keep-original="@options.KeepOriginalSizeImages.ToString().ToLower()"
                     data-enable-browse-server="@options.EnableBrowseServer.ToString().ToLower()"
                     data-enable-crop="@options.EnableCropping.ToString().ToLower()"
                     data-accepted-files="image/*"
                     data-target-fullsize-input-id="SectionFourFullSizeUrl"
                     data-target-resized-input-id="SectionFourResizedUrl"
                     data-target-thumb-input-id=""
                     data-target-fullsize-image-id="dz4Image"
                     data-target-resized-image-id=""
                     data-target-thumb-image-id=""
                     data-fullsize-placeholder-image="@options.PlaceholderImageUrl"
                     data-resized-placeholder-image=""
                     data-thumb-placeholder-image=""
                     data-resize-width="@options.ResizeMaxWidth"
                     data-resize-height="@options.ResizeMaxHeight"
                     data-crop-area-width="@options.CropAreaWidth"
                     data-crop-area-height="@options.CropAreaHeight">
                    @sr["Drop file here or click to browse device for file."]
                </div>
                <div class="ps-1 pt-1">
                    <div class="d-flex flex-column">
                        <button id="dz4-browse-server" type="button" class="mb-1 btn btn-primary collapse">@sr["Browse Server"] <i class="fas fa-search" aria-hidden="true"></i></button>
                        <button id="dz4-save-crop" type="button" class="mb-1 btn btn-primary collapse">@sr["Save Crop"] <i class="far fa-save" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <input asp-for="SectionFourFullSizeUrl" type="hidden" />
        <input asp-for="SectionFourResizedUrl" type="hidden" />
        <div class="mb-3">
            <label asp-for="SectionFourAltText">@sr["Image Description"]</label>
            <input asp-for="SectionFourAltText" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="SectionFourHeading">@sr["Section Heading - optional"]</label>
            <input asp-for="SectionFourHeading" class="form-control" />
        </div>
        <label asp-for="SectionFourContent">@sr["Section 4 Content"]</label>
        <textarea asp-for="SectionFourContent" rows="5" class="form-control"
            data-summernote-unobtrusive=""
            data-summernote-config-url="@summernoteOptions.CustomConfigPath"
            data-summernote-toolbar-config-url="@summernoteOptions.CustomToolbarConfigPath"
            data-summernote-config-language="@summernoteOptions.LanguageCode"
            data-summernote-config-dropfileuploadurl="@summernoteOptions.DropFileUrl"
            data-summernote-config-filebrowserurl="@summernoteOptions.FileBrowseUrl"
            data-summernote-config-imagebrowseurl="@summernoteOptions.ImageBrowseUrl">
        </textarea>
    </div>
</div>

<div id="fileBrowseDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="height:99%;min-width:99%!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
            </div>
            <iframe id="frFileDialog" frameborder="0" style="overflow:hidden;height:100%;width:100%;min-height: 650px;"></iframe>
        </div>
    </div>
</div>