@using cloudscribe.Core.Models
@using cloudscribe.Core.Identity
@using cloudscribe.Web.Navigation
@using cloudscribe.Web.Pagination
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "*, cloudscribe.Web.Common"
@addTagHelper "*, cloudscribe.Web.Navigation"
@addTagHelper "*, cloudscribe.Web.Pagination"
@addTagHelper "*, cloudscribe.Core.Web"
@inject ISiteContextResolver siteResolver
@{ 
    string sideNavToggleClass = ViewData["SideNavToggle"]?.ToString() ?? "collapse";
    string aside1ToggleClass = ViewData["Aside1Toggle"]?.ToString() ?? "collapse";
    string aside2ToggleClass = ViewData["Aside2Toggle"]?.ToString() ?? "collapse";
    var Tenant = await siteResolver.ResolveSite(Context.Request.Host.Host, Context.Request.Path.StartingSegment());
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>@ViewData["Title"] - @(Tenant?.SiteName ?? "Sample")</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @RenderSection("Meta", required: false)
  <environment names="Development">
      @*<link rel="stylesheet" href="~/css/bootstrap.css" cs-resolve-theme-resource="true" cs-shared-theme="true" cs-tenant="@Tenant" />*@
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
      <link rel="stylesheet" href="~/css/fontawesome-all.min.css" cs-resolve-theme-resource="true" cs-shared-theme="true" cs-tenant="@Tenant" />
      <link rel="stylesheet" href="~/css/site.css" cs-resolve-theme-resource="true" cs-shared-theme="true" cs-tenant="@Tenant" />
      @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
  </environment>
  <environment names="Staging,Production">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
      @*<link rel="stylesheet" href="~/css/bootstrap.min.css" cs-resolve-theme-resource="true" cs-shared-theme="true" cs-tenant="@Tenant" />*@
      @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
  </environment>
    @RenderSection("Styles", required: false)
    <style>
        
    </style>
    <google-analytics profile-id="@Tenant.GoogleAnalyticsProfileId" user-id="@User.GetUserId()"></google-analytics>
</head>
<body class="@ViewData["BodyClass"]">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
        <div class="container">
            <span class="skiplink-text">Skip to main content</span>
        </div>
    </a>
    <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a href="~/@(Tenant?.SiteFolderName ?? "")" class="navbar-brand">@(Tenant?.SiteName ?? "Sample")</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    @await Component.InvokeAsync("Navigation", new { viewName = "Bootstrap4TopNavWithDropdowns", filterName = NamedNavigationFilters.TopNav, startingNodeKey = "" })
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </nav>
        </header>
    <div id="wrapper" class="container-fluid">
        @await Component.InvokeAsync("Navigation", new { viewName = "Bootstrap4Breadcrumbs", filterName = NamedNavigationFilters.Breadcrumbs, startingNodeKey = "" })
        <div class="row">
            <main role="main" class="col order-3">
                @await Html.PartialAsync("AlertsPartial")
                @RenderBody()
            </main>
            <nav id="sidenavmenu" class="d-none d-lg-block d-xl-block col col-3 order-1 @sideNavToggleClass">
                @RenderSection("SideNav", required: false)
            </nav>
            <aside id="aside1" class="col col-1 order-2 @aside1ToggleClass">
                @RenderSection("Aside1", required: false)
            </aside>
            <aside id="aside2" class="col col-1 order-4 @aside2ToggleClass">
                @RenderSection("Aside2", required: false)
            </aside>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <small class="float-left">Copyright &copy; @DateTime.Now.Year - @(Tenant?.SiteName ?? "Sample")</small>
            <small class="float-right">
                <a href="/sitemap">Site Map</a> |
                @* you are free to remove the powered by cloudscribe link but we appreciate it if you choose to keep it! *@
                <a target="_blank" href="https://www.cloudscribe.com/?utm_source=@Context.Request.Host.Value&amp;utm_medium=referral&amp;utm_campaign=poweredbycloudscribe">Powered by cloudscribe</a>
            </small>
        </div>
    </footer>
    @RenderSection("Toolbar", required: false)
    <environment names="Development">
        <script src="~/js/jquery.js" cs-resolve-theme-resource="true" cs-shared-theme="true" cs-tenant="@Tenant"></script>
        @*<script src="~/js/popper.js" cs-resolve-theme-resource="true" cs-shared-theme="true" cs-tenant="@Tenant"></script>
        <script src="~/js/bootstrap.js" cs-resolve-theme-resource="true" cs-shared-theme="true" cs-tenant="@Tenant"></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery.min.js" cs-resolve-theme-resource="true" cs-shared-theme="true" cs-tenant="@Tenant"></script>
        @*<script src="~/js/popper.min.js" cs-resolve-theme-resource="true" cs-shared-theme="true" cs-tenant="@Tenant"></script>
        <script src="~/js/bootstrap.min.js" cs-resolve-theme-resource="true" cs-shared-theme="true" cs-tenant="@Tenant"></script>*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </environment>
    @RenderSection("Bottom", required: false)
    @RenderSection("Scripts", required: false)
    <script>

//        $(document).ready( function () {
//    $('.dropdown-menu a.dropdown-toggle').on( 'click', function ( e ) {
//        var $el = $( this );
//        var $parent = $( this ).offsetParent( ".dropdown-menu" );
//        if ( !$( this ).next().hasClass( 'show' ) ) {
//            $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
//        }
//        var $subMenu = $( this ).next( ".dropdown-menu" );
//        $subMenu.toggleClass( 'show' );

//        $( this ).parent( "li" ).toggleClass( 'show' );

//        $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
//            $( '.dropdown-menu .show' ).removeClass( "show" );
//        } );

//         if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
//            $el.next().css( { "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 } );
//        }

//        return false;
//    } );
//} );


        /*
        $( document ).ready( function () {
    $( '.dropdown-menu a.dropdown-toggle' ).on( 'click', function ( e ) {
        var $el = $( this );
        var $parent = $( this ).offsetParent( ".dropdown-menu" );
        if ( !$( this ).next().hasClass( 'show' ) ) {
            $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
        }
        var $subMenu = $( this ).next( ".dropdown-menu" );
        $subMenu.toggleClass( 'show' );

        $( this ).parent( "li" ).toggleClass( 'show' );

        $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
            $( '.dropdown-menu .show' ).removeClass( "show" );
        } );

         if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
            $el.next().css( { "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 } );
        }

        return false;
    } );
} );
        */
    </script>
    <add-this profile-id="@Tenant.AddThisDotComUsername" async></add-this>
</body>
</html>
