@using cloudscribe.Web.Navigation
@model NavigationViewModel
@if ((Model.TempNode != null) && (Model.HasVisibleChildren(Model.TempNode)))
{
    <ul class="list-unstyled ml-4 ">

        @foreach (var childNode in Model.TempNode.Children)
        {
            if (!Model.ShouldAllowView(childNode)) { continue; }

            if (!Model.HasVisibleChildren(childNode))
            {
                if (childNode.EqualsNode(Model.CurrentNode))
                {
                    <li class="nav-item"><a class="nav-link active" href="@Url.Content(Model.AdjustUrl(childNode))">@Html.Raw(Model.GetIcon(childNode.Value))@childNode.Value.Text</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" href="@Url.Content(Model.AdjustUrl(childNode))">@Html.Raw(Model.GetIcon(childNode.Value))@childNode.Value.Text</a></li>
                }
            }
            else
            {
                if (childNode.EqualsNode(Model.CurrentNode))
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Content(Model.AdjustUrl(childNode))">
                            @Html.Raw(Model.GetIcon(childNode.Value))@childNode.Value.Text
                        </a>
                        @Model.UpdateTempNode(childNode)
                        @Html.Partial("SideNavPartial", Model) @* recursion *@
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Content(Model.AdjustUrl(childNode))">
                            @Html.Raw(Model.GetIcon(childNode.Value))@childNode.Value.Text
                        </a>
                        @Model.UpdateTempNode(childNode)
                        @Html.Partial("Bs4SideNavPartial", Model) @* recursion *@
                    </li>
                }
            }
        }
        </ul>
}
