@using cloudscribe.SimpleContent.Models
@using cloudscribe.SimpleContent.Common
@addTagHelper "*, cloudscribe.Web.Common"
@model cloudscribe.SimpleContent.Web.ViewModels.BlogViewModel
<article data-id="@Model.TmpComment.Id" itemscope itemtype="http://schema.org/UserComments" itemprop="comment" class="@(Model.TmpComment.IsAdmin ? "self" : null)">
    <img gravatar-email="@Model.TmpComment.Email" gravatar-size="50" alt="Comment by @Model.TmpComment.Author" />
    <div>
        <time datetime="@Model.FormatCommentDate(Model.TmpComment.PubDate)" itemprop="commentTime">@Model.FormatCommentDate(Model.TmpComment.PubDate)</time>
        <p itemprop="commentText">@Html.Raw(Model.FilterComment(Model.TmpComment))</p>
        @if (string.IsNullOrEmpty(Model.TmpComment.Website))
        {
        <strong itemprop="creator">@Model.TmpComment.Author</strong>
        }
        else
        {
        <strong itemprop="creator"><a href="@Model.TmpComment.Website" itemprop="url" rel="nofollow">@Model.TmpComment.Author</a></strong>
        }
        @if (Model.CanEdit)
        {
            <button class="deletecomment btn btn-link">Delete</button>
            @if (Model.ProjectSettings.ModerateComments && !Model.TmpComment.IsApproved)
            {
                <button class="approvecomment btn btn-link">Approve</button>
            }
        }
    </div>
    @if (Model.ProjectSettings.ModerateComments && !Model.TmpComment.IsApproved && !Model.CanEdit)
    {
        <div itemprop="approvalWarning">! The comment will not be visible until a moderator approves it !</div>
    } 
</article>
