@model cloudscribe.SimpleContent.Models.EditorModel
@using cloudscribe.SimpleContent.Web.Design
@using cloudscribe.SimpleContent.Web.TagHelpers
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@using System.Globalization
@using cloudscribe.SimpleContent.Web
@inject IStringLocalizer<SimpleContent> sr
@addTagHelper "*, cloudscribe.Web.Common"
@addTagHelper "*, cloudscribe.SimpleContent.Web"
@inject IOptions<IconCssClasses> iconClassesAccessor
@inject IRoleSelectorProperties roleSelector
@{
    var icons = iconClassesAccessor.Value;
}
<nav id="editor-toolbar" data-role="editor-toolbar" class="navbar navbar-default  blogadmin "
     data-current-slug="@Model.CurrentSlug"
     data-ispublished="@Model.IsPublished"
     data-edit-mode="@Model.EditMode"
     data-index-path="@Model.IndexUrl"
     data-supports-categories="@Model.SupportsCategories"
     data-content-type="@Model.ContentType"
     data-category-path="@Model.CategoryPath"
     data-delete-path="@Model.DeletePath"
     data-save-path="@Model.SavePath"
     data-cancel-edit-path="@Model.CancelEditPath"
     data-locale="@CultureInfo.CurrentCulture.Name.ToLowerInvariant()">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#edit-tool-container" aria-expanded="false">
                <span class="sr-only">@sr["Toggle navigation"]</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="edit-tool-container">
            <ul class="nav navbar-nav">
                <li id="liNewItem"><a onclick="location.href='@Model.NewItemPath'" id="btnNew">@sr[Model.NewItemButtonText]</a></li>
                <li id="liEdit"><a onclick="location.href='@Model.EditPath'" id="btnEdit" disabled>@sr["Edit"]</a></li>        
                <li id="liSave"><a id="btnSave" disabled>@sr["Save"]</a></li>
                <li id="liCancel"><a id="btnCancel" disabled>@sr["Cancel"]</a></li> 
                <li id="liPageOrder" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@sr["Settings"] <span class="caret"></span></a>
                    <ul class="dropdown-menu psetform">
                        <li>
                            <div class="form-group">
                                <label class="control-label">@sr["Parent Page Slug"]</label>
                                <div>
                                    <input id="txtParentPage" class="form-control" placeholder="@sr["Leave blank for root level pages"]" value="@Model.ParentSlug" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="control-label">View Roles</label>
                                <a class="btn btn-xs btn-default" 
                                   csc-role-selector="@roleSelector" 
                                   csc-projectId="@Model.ProjectId"
                                   csc-target-id="txtViewRoles"
                                   >@sr["Select Roles"]</a>
                                <div>
                                    <input id="txtViewRoles" class="form-control" placeholder="@sr["Leave blank for public pages"]" value="@Model.ViewRoles" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label class="control-label">@sr["Sort Order"]</label>
                                <div>
                                    <input id="txtPageOrder" class="form-control" type="text" placeholder="10" value="@Model.SortOrder">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="checkbox">
                                    <label class="control-label">
                                        <input id="chkShowHeading" type="checkbox" checked="@Model.ShowHeading" /> @sr["Show Heading"]
                                    </label>   
                                </div>
                            </div>
                        </li>
                    </ul>
                </li> 
                <li id="liPublished" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@sr["Publishing"] <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="reasonDropdown">
                        <li>
                            <label class="btn btn-success" style="width:100%">
                            <input id="published" name="isPublished" value="true" type="radio" checked="@Model.IsPublished">@sr["Published"]
                            </label>
                        </li>
                        <li>
                            <label class="btn btn-warning" style="width:100%">
                                <input name="isPublished" value="false" type="radio" checked="@(!Model.IsPublished)">@sr["Not Published"]
                            </label>
                        </li>                  
                    </ul>
                </li> 
                <li id="liDelete"><a id="btnDelete" disabled>Delete</a></li> 
                <li><a id="btnHide" title="@sr["Hide Toolbar"]"><span class="@icons.HideEditToolbar" aria-hidden="true"></span> </a></li>   
            </ul>
            <ul id="tools" class="nav navbar-nav navbar-right bootstrap-wysiwyg">
                <li><a title="@sr["Paragraph"]"  data-edit="formatBlock <p>">&para;</a></li>
                <li><a title="@sr["Heading level 1"]" data-edit="formatBlock <h1>">H1</a></li>
                <li><a title="@sr["Heading level 2"]" data-edit="formatBlock <h2>">H2</a></li>
                <li><a title="@sr["Heading level 3"]" data-edit="formatBlock <h3>">H3</a></li>
                <li><a title="@sr["Emphasis/Italic"]" data-edit="italic"><em>I</em></a></li>
                <li><a title="@sr["Strong/Bold"]" data-edit="bold"><strong>B</strong></a></li>
                <li><a title="@sr["Underline"]" data-edit="underline"><ins>U</ins></a></li>
                <li><a title="@sr["Strikethrough"]" data-edit="strikethrough"><s>S</s></a></li>
                <li><a title="@sr["Justify left"]" data-edit="justifyleft"><i class="@icons.JustifyLeft"></i></a></li>
                <li><a title="@sr["Justify center"]" data-edit="justifycenter"><i class="@icons.JustifyCenter"></i></a></li>
                <li><a title="@sr["Justify right"]" data-edit="justifyright"><i class="@icons.JustifyRight"></i></a></li>
                <li><a title="@sr["Justify full"]" data-edit="justifyfull"><i class="@icons.JustifyFull"></i></a></li>
                <li><a title="@sr["Bullet points"]" data-edit="insertunorderedlist"><i class="@icons.UnorderedList"></i></a></li>
                <li><a title="@sr["Numbered bullet points"]" data-edit="insertorderedlist"><i class="@icons.OrderedList"></i></a></li>
                <li><a title="@sr["Indent left"]" data-edit="outdent"><i class="@icons.Outdent"></i></a></li>
                <li><a title="@sr["Indent right"]" data-edit="indent"><i class="@icons.Indent"></i></a></li>
                <li>
                    <a title="@sr["Hyperlink"]" class="dropdown-toggle" data-toggle="dropdown"><i class="@icons.Hyperlink"></i></a>
                    <div class="dropdown-menu row" role="menu">
                        <input class="col-md-9 col-lg-9" placeholder="URL" type="text" data-edit="createLink" />
                        <button class="btn btn-xs col-md-3 col-lg-3" type="button">@sr["Add"]</button>
                    </div>
                </li>
                <li><a title="@sr["Remove hyperlink"]" data-edit="unlink"><i class="@icons.RemoveHyperlink"></i></a></li>
                <li><a class="uploadimage"><i class="@icons.InsertImage"></i></a>
                    <input type="file" id="txtImage" data-edit="insertImage" style="width:0; height: 0;position:absolute" />
                </li>
                <li><a title="@sr["Toggle source/design view"]" class="source" data-cmd="source"><i class="@icons.ToggleSource"></i></a></li>
            </ul>
        </div>
     </div>
    <aside>
        <p class="alert"></p>
    </aside>
</nav>
<button id="editor-outer-toggle" type="button" title="@sr["Show Editor Toolbar"]" class="btn btn-sm">
    <span class="@icons.ShowEditToolbar" aria-hidden="true"></span>  
</button>
