@model int
@using cloudscribe.SimpleContent.Web.Design
@using Microsoft.Extensions.Options
@inject IOptions<IconCssClasses> iconClassesAccessor
@using Microsoft.Extensions.Localization
@using cloudscribe.SimpleContent.Web
@inject IStringLocalizer<SimpleContent> sr
@{
    var icons = iconClassesAccessor.Value;
}
@{
    ViewData["Icon"] = icons.PageNotFound;
    ViewData["Title"] = sr["No Pages Found"];
    ViewData["Description"] = sr["No pages have been created yet, if this is your site, please login to create your first page"]; 
}
<div class="jumbotron text-center">
    <header>
        <h1><span aria-hidden="true" class="@ViewData["Icon"]"></span> @ViewData["Title"]</h1>
    </header>
    <p>@ViewData["Description"]</p>
    <a class="btn btn-primary btn-lg" href="@Url.Content("~/")"><span aria-hidden="true" class="@icons.Home"></span> @sr["Site Home"]</a>
</div>
