@model cloudscribe.SimpleContent.Web.ViewModels.PageViewModel
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Web.Design
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IOptions<IconCssClasses> iconClassesAccessor
@inject IStringLocalizer<SimpleContent> sr
@{
    var icons = iconClassesAccessor.Value;
}
<a href="@Model.PageTreePath" title="@sr["Manage Page Hierarchy"]" class="btn btn-sm" style="position:absolute;top:50px;right:0px;">
    <span class="@icons.PageTree" aria-hidden="true"></span>
</a>
<a href="@Model.NewItemPath" title="@sr["New Page"]" class="btn btn-sm" style="position:absolute;top:80px;right:0px;">
    <span class="@icons.NewItem" aria-hidden="true"></span>
</a>
@if (Model.CurrentPage != null)
{
    <a href="@Model.EditPath" title="@sr["Edit"]" class="btn btn-sm" style="position:absolute;top:110px;right:0px;">
        <span class="@icons.ShowEditToolbar" aria-hidden="true"></span>
    </a>
}
