@model cloudscribe.SimpleContent.Web.ViewModels.PageTreeViewModel
@using cloudscribe.SimpleContent.Models
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Web.Design
@using Microsoft.Extensions.Options
@using System.Globalization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SimpleContent> sr
@inject IOptions<IconCssClasses> iconClassesAccessor
@{
    var icons = iconClassesAccessor.Value;
}
@section Styles {
    <link rel="stylesheet" href="~/css/jqtree.css" asp-append-version="true" />
}
<header class="">
    <h1 id="article-title" itemprop="headline name">
        @ViewData["Title"]
    </h1>
</header>
<p>@sr["You can drag and drop page nodes in the treeview below to move them around in the site hierarchy or to change their sort position. Click on a page to show a menu of commands related to that page. Note that changes will not be reflected in the main menu unti you refresh the page."]</p>
<a href="@Model.EditUrl" class="btn btn-default pagecommand"><span class="@icons.NewItem" aria-hidden="true"></span> @sr["New Root Level Page"]</a>
<div id="tree1" class="treecontainer"></div>
<div id="cmdBar" class="panel panel-default commandPanel" style="display:none;">
    <div id="cmdHeading" class="panel-heading" >Panel heading</div>
    <ul id="ulCommands" class="pagecommands" >
        <li id="liEdit" class="editcontent">
            <a id="lnkEdit" class="btn btn-default pagecommand" href="#"><span class="@icons.Edit" aria-hidden="true"></span> @sr["Edit Page"] (<small class="pubstatus" id="spnPubStatus"></small>)</a>
        </li>
        <li id="liView" class="viewpage">
            <a id="lnkView" class="btn btn-default pagecommand" href="#"><span class="@icons.View" aria-hidden="true"></span> @sr["View"]</a>
        </li>
        <li id="liSort" class="sortpages">
            <a id="lnkSort" class="btn btn-default pagecommand" href="#"><span class="@icons.SortAlpha" aria-hidden="true"></span> @sr["Sort Child Pages Alpha"]</a>
        </li>
        <li id="liNewChild" class="newchild">
            <a id="lnkNewChild" class="btn btn-default pagecommand" href="#"><span class="@icons.NewItem" aria-hidden="true"></span> @sr["New Child Page"]</a>
        </li>
        <li id="liDeletePage" class="deletepage">
            <a id="lnkDeletePage" class="btn btn-default pagecommand" href="#"><span class="@icons.Delete" aria-hidden="true"></span>  @sr["Delete"]</a>
        </li>
    </ul>
</div>
    <input id="hdnSelPage" type="hidden" value="-1" />
    <form asp-controller="Page" asp-action="Move"></form>
    <span id="config"
          data-service-url="@Model.TreeServiceUrl"
          data-sort-url="@Model.SortUrl"
          data-move-url="@Model.MoveUrl"
          data-edit-url="@Model.EditUrl"
          data-delete-url="@Model.DeleteUrl"></span>
    @section Scripts {

        <environment names="Development">
            <script src="~/jsdev/tree.jquery.js"></script>
            <script src="/filemanager/js/tether.min.js"></script>
            <script src="~/jsdev/pagetree.js" asp-append-version="true"></script>

        </environment>
        <environment names="Staging,Production">

        </environment>

    }
