@model cloudscribe.SimpleContent.ContentTemplates.ViewModels.EverythingModel
@using cloudscribe.SimpleContent.ContentTemplates
@inject IStringLocalizer<ContentTemplateResources> sr
@functions{
    public string GetItemClass(int index)
    {
        if (index == 0) { return "carousel-item active"; }
        return "carousel-item";
    }
}
<div class="w-100 clearfix mb-2">
    <div id="carouselRender" class="carousel slide simple-gallery float-md-left mr-2 simple-gallery-side-carousel" data-ride="carousel" data-interval="@Model.CarouselIntervalInMilliseconds" data-pause="hover">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <div class="@GetItemClass(i)">
                    <img class="d-block w-100" src="@Model.Items[i].ResizedUrl" alt="@Model.Items[i].Description" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@Model.Items[i].Title</h5>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselRender" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">@sr["Previous"]</span>
        </a>
        <a class="carousel-control-next" href="#carouselRender" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">@sr["Next"]</span>
        </a>
    </div>

</div>


