@model cloudscribe.SimpleContent.ContentTemplates.ViewModels.SectionsWithImageViewModel
@{
    var columnCount = 0;
    if (!string.IsNullOrWhiteSpace(Model.SectionOneContent)) { columnCount += 1; }
    if (!string.IsNullOrWhiteSpace(Model.SectionTwoContent)) { columnCount += 1; }
    if (!string.IsNullOrWhiteSpace(Model.SectionThreeContent)) { columnCount += 1; }
    if (!string.IsNullOrWhiteSpace(Model.SectionFourContent)) { columnCount += 1; }

}
@functions{
    public string GetCssClass(int columnCount)
    {
        switch (columnCount)
        {
            case 4:
                return "col-12 col-md-6 col-lg-3";
            case 3:
                return "col-12 col-md-6 col-lg-4";
            case 2:
                return "col-12 col-md-6 col-lg-6";

            case 1:
            default:
                return "col";

        }
    }
}
<div class="row">
    @if (!string.IsNullOrWhiteSpace(Model.SectionOneContent))
    {
        <div class="@GetCssClass(columnCount)">
            @if (!string.IsNullOrWhiteSpace(Model.SectionOneResizedUrl))
            {
                <img src="@Model.SectionOneResizedUrl" class="image-responsive mb-1" alt="@Model.SectionOneAltText" />
            }
            @if (!string.IsNullOrWhiteSpace(Model.SectionOneHeading))
            {
                <h3>@Model.SectionOneHeading</h3>
            }
            @Html.Raw(Model.SectionOneContent)
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.SectionTwoContent))
    {
        <div class="@GetCssClass(columnCount)">
            @if (!string.IsNullOrWhiteSpace(Model.SectionTwoResizedUrl))
            {
                <img src="@Model.SectionTwoResizedUrl" class="image-responsive mb-1" alt="@Model.SectionTwoAltText" />
            }
            @if (!string.IsNullOrWhiteSpace(Model.SectionTwoHeading))
            {
                <h3>@Model.SectionTwoHeading</h3>
            }
            @Html.Raw(Model.SectionTwoContent)
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.SectionThreeContent))
    {
        <div class="@GetCssClass(columnCount)">
            @if (!string.IsNullOrWhiteSpace(Model.SectionThreeResizedUrl))
            {
                <img src="@Model.SectionThreeResizedUrl" class="image-responsive mb-1" alt="@Model.SectionThreeAltText" />
            }
            @if (!string.IsNullOrWhiteSpace(Model.SectionThreeHeading))
            {
                <h3>@Model.SectionThreeHeading</h3>
            }
            @Html.Raw(Model.SectionThreeContent)
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.SectionFourContent))
    {
        <div class="@GetCssClass(columnCount)">
            @if (!string.IsNullOrWhiteSpace(Model.SectionFourResizedUrl))
            {
                <img src="@Model.SectionFourResizedUrl" class="image-responsive mb-1" alt="@Model.SectionFourAltText" />
            }
            @if (!string.IsNullOrWhiteSpace(Model.SectionFourHeading))
            {
                <h3>@Model.SectionFourHeading</h3>
            }
            @Html.Raw(Model.SectionFourContent)
        </div>
    }
</div>
