@model cloudscribe.SimpleContent.Web.ViewModels.BlogViewModel
@inject ISimpleContentThemeHelper themeHelper
@inject IStringLocalizer<SimpleContent> sr
@inject IOptions<BlogEditOptions> editOptionsAccessor
@inject IBlogRoutes  blogRoutes
@{
    var themeSettings = themeHelper.GetThemeSettings();
    var editOptions = editOptionsAccessor.Value;
}

<div data-show-if-url-check data-url-check-url="@Url.RouteUrl(blogRoutes.CanEditRouteName)" style="display:none;">
    <a id="newPostLink" href="@Model.NewItemPath" title="@sr["New Post"]" class="btn btn-sm content-new">
        <span class="@themeSettings.Icons.NewItem" aria-hidden="true"></span>
    </a>
    @if (Model.CurrentPost != null)
    {
        <a id="editPostLink" href="@Model.EditPath" title="@sr["Edit"]" class="btn btn-sm content-edit">
            <span class="@themeSettings.Icons.Edit" aria-hidden="true"></span>
        </a>
    }
    @if (!editOptions.HideUnpublishButton && Model.CurrentPost != null && Model.CanEdit && !Model.ShowingDeleted && !Model.ShowingDraft && !Model.HistoryId.HasValue && Model.CurrentPost.IsPublished)
    {
        <a id="unpublishPostLink" title="@sr["Unpublish"]" class="btn btn-sm content-unpublish" style="position:absolute;top:130px;right:0px;" data-toggle="modal" data-target="#confirmUnpublishModal">
            <span class="@themeSettings.Icons.Unpublish" aria-hidden="true"></span>
        </a>
    }
</div>
