@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
@inject ITinyMceEditorOptionsResolver editorOptionsResolver
@inject IStringLocalizer<SimpleContent> sr
@{
    var mceOptions = await editorOptionsResolver.GetTinyMceEditorOptions();
}
<div class="form-group">
    <label asp-for="TeaserOverride">@sr["Teaser Override"]</label>
    <textarea asp-for="TeaserOverride" class="form-control" rows="10" cols="70"
                data-tinymce=""
                data-tinymce-config-url="@mceOptions.CustomConfigPath"
                data-tinymce-config-language="@mceOptions.LanguageCode"
                data-tinymce-config-dropfileuploadurl="@mceOptions.DropFileUrl"
                data-tinymce-config-filebrowserurl="@mceOptions.FileBrowseUrl"
                data-tinymce-config-imagebrowseurl="@mceOptions.ImageBrowseUrl"></textarea>
</div>
<div class="form-group">
    <div class="form-check" data-toggle="tooltip" data-placement="left" title='@sr["If checked, then show entire blog post on index/listing pages regardless of teaser settings."]'>
        <input asp-for="SuppressTeaser" class="form-check-input" />
        <label asp-for="SuppressTeaser" class="form-check-label">@sr["No teaser, use full post"]</label>
    </div>
</div>


