@model cloudscribe.SimpleContent.Web.ViewModels.NewContentViewModel
@inject IStringLocalizer<SimpleContent> sr
@inject IBlogRoutes  blogRoutes
@{
    ViewData["Title"] = sr["Create a New Post"];
}
<h2>@ViewData["Title"]</h2>
<a class="btn btn-link" asp-route="@blogRoutes.PostEditRouteName" asp-route-type="@Model.ContentType">@sr["New Post with Standard Content Editor"]</a>
@if (Model.CountOfTemplates > 0)
{
    <h3>@sr["Create Post From Template"]</h3>
    await Html.RenderPartialAsync("NewContentPartial", Model); 
}
@section Scripts {
    @{ await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
    <script src="~/cr/js/unobtrusive-validation-bs4.min.js"></script>
    <script src="~/cr/js/jquery.validate.hooks.min.js"></script>
    <script src="~/cr/js/jqueryvaildation.submitonce-unobtrusive.min.js"></script>
}
