@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Models
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model cloudscribe.SimpleContent.Web.ViewModels.BlogViewModel
@using cloudscribe.SimpleContent.Web.Design
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<SimpleContent> sr
@inject IOptions<IconCssClasses> iconClassesAccessor
@{
    var icons = iconClassesAccessor.Value;
}
@functions{
   
    public string GetPubDateClass()
    {
        if (Model.CurrentPost != null && Model.CurrentPost.PubDate > DateTime.UtcNow) return "lead text-danger";

        return null;
    }
    public string GetCommentString()
    {
        if(string.IsNullOrEmpty(Model.ProjectSettings.DisqusShortName))
        {
            return Model.CurrentPost.ApprovedCommentCount() + " " + sr["Comments"];

        }
        return "<span class=\"disqus-comment-count\" data-disqus-identifier=\"" + Model.CurrentPost.Id + "\"></span>";
    }
    public string GetCommentFragment()
    {
        if (string.IsNullOrEmpty(Model.ProjectSettings.DisqusShortName))
        {
            return "comments";

        }
        return "disqus_thread";
    }
}
<article class="post" data-id="@Model.CurrentPost.Id"
         data-approve-comment-url="@Url.Action("AjaxApproveComment", "Blog")"
         data-delete-comment-url="@Url.Action("AjaxDeleteComment", "Blog")"
         itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    @{await Html.RenderPartialAsync("DraftInfoPartial", Model); }
    @{await Html.RenderPartialAsync("HistoryInfoPartial", Model); }
    <header class="jumbotron">
        <h1 itemprop="headline name">@Model.CurrentPost.Title</h1>
        <div class="bh">
            @{
                DateTime? pubDate = Model.CurrentPost.PubDate;
                if (!pubDate.HasValue) { pubDate = DateTime.UtcNow; }
            }
            <time class="@GetPubDateClass()" datetime='@pubDate.Value.ToString("s")' itemprop="datePublished">@Model.FormatDate(pubDate.Value)</time>
            @if (Model.ProjectSettings.IncludePubDateInPostUrls)
            {


                <a asp-route="@Model.BlogRoutes.PostWithDateRouteName"
                   asp-route-year="@pubDate.Value.Year"
                   asp-route-month="@pubDate.Value.Month.ToString("00")"
                   asp-route-day="@pubDate.Value.Day.ToString("00")"
                   asp-route-slug="@Model.CurrentPost.Slug"
                   asp-fragment="@GetCommentFragment()"
                   itemprop="url"><i class="@icons.Comments"></i> @Html.Raw(GetCommentString())</a>
            }
            else
            {
                <a asp-route="@Model.BlogRoutes.PostWithoutDateRouteName" asp-route-slug="@Model.CurrentPost.Slug" asp-fragment="@GetCommentFragment()" itemprop="url"><i class="@icons.Comments"></i> @Html.Raw(GetCommentString())</a>
            }
            @if (Model.CurrentPost.Categories.Count > 0)
            {
                <ul class="categories">
                    <li><i class="@icons.Tags"></i>&nbsp; @sr["Posted in:"] </li>
                    @foreach (string cat in Model.CurrentPost.Categories)
                    {
                        <li itemprop="articleSection">
                            <a asp-controller="Blog" asp-action="Category" asp-route-category="@cat">@cat</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </header>
    @{ await Html.RenderPartialAsync("NextPreviousPartial", Model); }
    <div itemprop="articleBody">@Html.Raw(Model.FilterHtml(Model.CurrentPost))</div>
    @{
        var imageUrl = Model.ExtractFirstImageUrl(Model.CurrentPost, Url);
        var imageSize = Model.ExtractFirstImageDimensions(Model.CurrentPost);
    }
    @if (!string.IsNullOrEmpty(imageUrl))
    {
        <div class="collapse" aria-hidden="true" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
            <schema-org-meta itemprop="url" content="@imageUrl"></schema-org-meta>
            <schema-org-meta itemprop="width" content="@imageSize.Width"></schema-org-meta>
            <schema-org-meta itemprop="height" content="@imageSize.Height"></schema-org-meta>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.CurrentPost.Author))
    {
        <div class="collapse" aria-hidden="true" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <schema-org-meta itemprop="name" content="@Model.CurrentPost.Author"></schema-org-meta>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.ProjectSettings.Publisher))
    {
        <div class="collapse" aria-hidden="true" itemprop="publisher" itemscope itemtype="http://schema.org/@Model.ProjectSettings.PublisherEntityType">
            <schema-org-meta itemprop="name" content="@Model.ProjectSettings.Publisher"></schema-org-meta>
            <div class="collapse" aria-hidden="true" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                <schema-org-meta itemprop="url" content="@Model.ProjectSettings.PublisherLogoUrl"></schema-org-meta>
                <schema-org-meta itemprop="width" content="@Model.ProjectSettings.PublisherLogoWidth"></schema-org-meta>
                <schema-org-meta itemprop="height" content="@Model.ProjectSettings.PublisherLogoHeight"></schema-org-meta>
            </div>
        </div>
    }
    @if (Model.CurrentPost.PubDate.HasValue)
    {
        <schema-org-meta itemprop="dateModified" content="@Model.CurrentPost.PubDate.Value.ToString("s", CultureInfo.InvariantCulture)"></schema-org-meta>
    }
    @if (Model.CurrentPost.IsPublished && !Model.ShowingDraft && !Model.HistoryId.HasValue)
    {
        @if (string.IsNullOrEmpty(Model.ProjectSettings.DisqusShortName))
        {
            await Html.RenderPartialAsync("CommentWrapperPartial", Model);
        }
        else
        {
            await Html.RenderPartialAsync("DisqusCommentsPartial", Model);
        }
    }

</article>
