@model cloudscribe.SimpleContent.ContentTemplates.ViewModels.SimpleGalleryViewModel
@using cloudscribe.SimpleContent.ContentTemplates
@inject IStringLocalizer<ContentTemplateResources> sr
@{
    Layout = "_LayoutEmpty";
    var sorted = Model.Items.OrderBy(x => x.Sort).ToList();
}
@functions{
    public string GetItemClass(int index)
    {
        if (index == 0) { return "carousel-item active"; }
        return "carousel-item";
    }
}

<div class="content-top">
    @Html.Raw(Model.ContentAbove)
</div>

@if (Model.Theme == "cards")
{
    <div class="row gallery-block cards-gallery simple-gallery">
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="@sorted[i].ResizedUrl">
                        <img src="@sorted[i].ResizedUrl" alt="@sorted[i].Description" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6><a href="#">@sorted[i].Title</a></h6>
                        <p class="text-muted card-text">@sorted[i].Description</p>
                    </div>
                </div>
            </div>
        }
    </div>

}
@if (Model.Theme == "compact")
{
    <div class="row no-gutters gallery-block compact-gallery simple-gallery">
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="@sorted[i].ResizedUrl">
                    <img class="img-fluid image" src="@sorted[i].ResizedUrl">
                    <span class="description">
                        <span class="description-heading">@sorted[i].Title</span>
                        <span class="description-body">@sorted[i].Description</span>
                    </span>
                </a>
            </div>
        }
    </div>

}
@if (Model.Theme == "grid")
{
    <div class="row gallery-block grid-gallery simple-gallery">
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="@sorted[i].ResizedUrl">
                    <img class="img-fluid image scale-on-hover" src="@sorted[i].ResizedUrl" title="@sorted[i].Title" alt="@sorted[i].Description">
                </a>
            </div>  
        }
    </div>
        
}

<div class="content-botton">
    @Html.Raw(Model.ContentBelow)
</div>
