@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
@using Microsoft.Extensions.Localization
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Models
@using System.Globalization
@using cloudscribe.SimpleContent.Web.TagHelpers
@inject IStringLocalizer<SimpleContent> sr
@addTagHelper "*, cloudscribe.Web.Common"
@addTagHelper "*, cloudscribe.SimpleContent.Web"
@{
}

<h2>@ViewBag.Title <small><a href="@Model.CurrentPostUrl">@sr["Cancel"]</a></small></h2>
<form method="post" class="form-horizontal" role="form" asp-antiforgery="true">
    <input type="hidden" id="projectId" name="projectId" value="@Model.ProjectId" />
    <input type="hidden" id="slug" name="slug" value="@Model.Slug" />
    <input type="hidden" id="id" name="id" value="@Model.Id" />
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.ValidationMessage("postediterror", new { @class = "text-danger" })
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label">@sr["Title"]</label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PubDate" class="col-md-2 control-label">@sr["Publication Date"]</label>
        <div class="col-md-10">
            <input asp-for="PubDate" class="form-control" data-locale="@CultureInfo.CurrentCulture.Name.ToLowerInvariant()" />
            <span asp-validation-for="PubDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Categories" class="col-md-2 control-label">@sr["Categories"]</label>
        <div class="col-md-10">
            <input asp-for="Categories" class="form-control" />
            <span asp-validation-for="Categories" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="MetaDescription" class="col-md-2 control-label">@sr["Meta Description"]</label>
        <div class="col-md-10">
            <input asp-for="MetaDescription" class="form-control" />
            <span asp-validation-for="MetaDescription" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Content" class="col-md-2 control-label">@sr["Content"]</label>
        <div class="col-md-10">
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <div class="checkbox">
                <label>
                    <input asp-for="IsPublished" /> @sr["Is Published"]
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button name="submit" type="submit" class="btn btn-success">@sr["Save"]</button>
            @if (!string.IsNullOrEmpty(Model.Id))
            {
                <button name="button" type="button" class="btn btn-danger"
                        onclick="javascript: if(confirm('@Html.FormatValue(Model.Title, sr["Are you sure you want to delete the post {0}? You cannot undo this action."])')) {$('#deleteform').submit();}">
                    @sr["Delete"]
                </button>
            }

        </div>
    </div>

</form>
@if (!string.IsNullOrEmpty(Model.Id))
{
    <form id="deleteform" class="form-inline" asp-route="@Model.DeletePostRouteName">
        <input asp-for="Id" type="hidden" />
    </form>
}



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <environment names="Development">
        <script src="~/csscsr/jqueryhotkeys"></script>
        <script src="~/csscsr/momentwithlocalesjs"></script>
        <script src="~/csscsr/bootstrapdatetimepickerjs"></script>
        <script src="~/csscsr/jquerycookie"></script>
        <script src="~/js/ckeditor461/ckeditor.js"></script>
        <script src="~/jsdev/editpage-ck.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/csscsr/jqueryhotkeysmin"></script>
        <script src="~/csscsr/momentwithlocalesjsmin"></script>
        <script src="~/csscsr/bootstrapdatetimepickerjsmin"></script>
        <script src="~/csscsr/jquerycookiemin"></script>
        <script src="~/js/ckeditor461/ckeditor.js"></script>
        <script src="~/jsdev/editpage-ck.js" asp-append-version="true"></script>
    </environment>
    @*await Html.RenderPartialAsync("EditorScriptsPartial"); *@
    
}
