@model Dictionary<string, int>
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Web.Design
@inject IStringLocalizer<SimpleContent> sr
@inject cloudscribe.SimpleContent.Models.IBlogRoutes blogRoutes
@inject IOptions<IconCssClasses> iconClassesAccessor
@{
    var icons = iconClassesAccessor.Value;
}
@if (Model.Count() > 0)
{
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3><i class="@icons.Archives" aria-hidden="true"></i>&nbsp;@sr["Archives"]</h3>
        </div>
        <div class="panel-body">
            <ul class="list-inline archive-list">
                @foreach (var cat in Model)
                {
                    <li>
                        <a 
                           asp-route="@blogRoutes.BlogArchiveRouteName"
                           asp-route-year="@cat.Key.Substring(0,4)"
                           asp-route-month="@cat.Key.Substring(5,2)">@cat.Key.Replace("/", "-") (@cat.Value)</a>
                    </li>
                }
            </ul>
        </div>
    </section>
}

