@model Dictionary<string, int>
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Web.Design
@inject IStringLocalizer<SimpleContent> sr
@inject cloudscribe.SimpleContent.Models.IBlogRoutes blogRoutes
@inject IOptions<IconCssClasses> iconClassesAccessor
@{
    var icons = iconClassesAccessor.Value;
}
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3><i class="@icons.Tags" aria-hidden="true"></i>&nbsp;@sr["Categories"]</h3>
        </div>
        <div class="panel-body">
            <ul class="list-inline category-list">
                @foreach (var cat in Model)
            {
                    <li>
                        <a asp-route="@blogRoutes.BlogCategoryRouteName"
                           asp-route-category="@cat.Key.ToLowerInvariant()">@cat.Key.ToLowerInvariant() (@cat.Value)</a>
                    </li>
                }
            </ul>
        </div>
    </section>
