@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
@using cloudscribe.SimpleContent.Web
@using cloudscribe.Web.Common.Components
@using Microsoft.Extensions.Localization
@inject ICkeditorOptionsResolver editorOptionsResolver
@inject IStringLocalizer<SimpleContent> sr
@{
    var ckOptions = await editorOptionsResolver.GetCkeditorOptions();
    var contentId = Model.Id + "-teaser";
    if (string.IsNullOrWhiteSpace(contentId)) { contentId = "draft-post-teaser-" + DateTime.UtcNow.ToString("yyyy-MM-dd-hh"); }
}
<div class="form-group">
    <label asp-for="TeaserOverride" class="col-md-2 control-label">@sr["Teaser Override"]</label>
    <div class="col-md-10">
        <textarea asp-for="TeaserOverride" class="form-control" rows="7" cols="70"
                  data-markdown-unobtrusive=""
                  data-markdown-autosave="true"
                  data-markdown-contentid="@contentId"
                  data-markdown-forceSync="true"
                  data-markdown-indentWithTabs="true"
                  data-markdown-spellChecker="true"
                  data-markdown-filemodalid="#fileBrowseDialog"
                  data-markdown-filebrowseurl="/filemanager/filedialog"
                  data-markdown-dropfileuploadurl="@ckOptions.DropFileUrl"></textarea>
    </div>
</div>
<div class="form-group">
    <div class="col-md-10 col-md-offset-2">
        <div class="checkbox" data-toggle="tooltip" data-placement="left" title='@sr["If checked, then show entire blog post on index/listing pages regardless of teaser settings."]'>
            <label>
                <input asp-for="SuppressTeaser" /> @sr["No teaser, use full post"]
            </label>
        </div>
    </div>
</div>


