@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
@using Microsoft.Extensions.Localization
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Models
@using System.Globalization
@using cloudscribe.Web.Common.Models
@using cloudscribe.Web.Common.Components
@using cloudscribe.Web.Common.Helpers
@using cloudscribe.SimpleContent.Web.TagHelpers
@inject IStringLocalizer<SimpleContent> sr
@inject ICkeditorOptionsResolver editorOptionsResolver
@addTagHelper "*, cloudscribe.Web.Common"
@addTagHelper "*, cloudscribe.SimpleContent.Web"
@{
    var ckOptions = await editorOptionsResolver.GetCkeditorOptions();
    var contentId = Model.Id;
    if (string.IsNullOrWhiteSpace(contentId)) { contentId = "draft-post-" + DateTime.UtcNow.ToString("yyyy-MM-dd-hh"); }
}
@section Styles {
    @{ await Html.RenderPartialAsync("_DatePickerCssPartial"); }
    @if (Model.ContentType == "markdown")
    {
        <link rel="stylesheet" href="~/cr/css/simplemde.min.css" />
        <style>
            .editor-toolbar.fullscreen {
                z-index: 1040;
            }
        </style>
    }
}
<h2>@ViewBag.Title <small><a id="lnkCancel" href="@Model.CurrentPostUrl">@sr["Cancel"]</a></small></h2>
<form method="post" class="form-horizontal" role="form" asp-antiforgery="true" data-submit-once="true">
    <input type="hidden" id="projectId" name="projectId" value="@Model.ProjectId" />
    <input type="hidden" id="id" name="id" value="@Model.Id" />
    <input type="hidden" asp-for="ContentType" />
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.ValidationMessage("postediterror", new { @class = "text-danger" })
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label">@sr["Title"]</label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    @{ Html.RenderPartial("EditCorrelationKeyPartial", Model); }
    @{ Html.RenderPartial("EditSlugPartial", Model); }
    <div class="form-group">
        <label asp-for="MetaDescription" class="col-md-2 control-label">@sr["Meta Description"]</label>
        <div class="col-md-10">
            <input asp-for="MetaDescription" class="form-control" data-toggle="tooltip" title='@sr["On public pages, meta description is very important to search engines. It should be no longer than 135 – 160 characters long (although Google has recently been testing longer snippets). Any longer and search engines will chop the end off, so make sure any important keywords are nearer the front."]' />
            <span asp-validation-for="MetaDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="col-md-2 control-label">@sr["Content"]</label>
        <div class="col-md-10">
            @if (Model.ContentType == "markdown")
            {
                Html.RenderPartial("EditContentMarkdownPartial", Model);
            }
            else
            {
                Html.RenderPartial("EditContentHtmlPartial", Model);
            }
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Categories" class="col-md-2 control-label">@sr["Categories"]</label>
        <div class="col-md-10">
            <input asp-for="Categories" class="form-control" />
            <span asp-validation-for="Categories" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Author" class="col-md-2 control-label">@sr["Author"]</label>
        <div class="col-md-10">
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
    </div>
    @{ Html.RenderPartial("EditImageUrlPartial", Model); }
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <div class="checkbox">
                <label>
                    <input asp-for="IsPublished" /> @sr["Is Published"]
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <div class="checkbox">
                <label>
                    <input asp-for="IsFeatured" /> @sr["Is Featured"]
                </label>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("EditPubDate", Model); }
    
    @if (Model.TeasersEnabled)
    {
        if (Model.ContentType == "markdown")
        {
            Html.RenderPartial("EditTeaserMarkdownPartial", Model);
        }
        else
        {
            Html.RenderPartial("EditTeaserHtmlPartial", Model);
        }
    }
    else
    {
        Html.RenderPartial("EditTeaserDisabledPartial");
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="btnSave" name="submit" type="submit" class="btn btn-default" data-disabled-text='@sr["Working..."]' data-enabled-text='@sr["Save"]'>@sr["Save"]</button>
            @if (!string.IsNullOrEmpty(Model.Id))
            {
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">
                    @sr["Delete"]
                </button>
            }
        </div>
    </div>
</form>
@if (!string.IsNullOrEmpty(Model.Id))
{
    <form id="deleteform" class="form-inline" asp-route="@Model.DeletePostRouteName">
        <input asp-for="Id" type="hidden" />
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteHeading">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label='@sr["Close"]'><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="confirmDeleteHeading">@sr["Confirm Delete"]</h4>
                    </div>
                    <div class="modal-body">
                        @string.Format(sr["Are you sure you want to delete the post {0}? You cannot undo this action."], Model.Title)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@sr["Cancel"]</button>
                        <input type="submit" value='@sr["Delete"]' class="btn btn-danger btn-ok" />
                    </div>
                </div>
            </div>
        </div>

    </form>
}
@section Scripts {
    @{ await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
    <script src="~/cr/js/jquery.validate.hooks.min.js"></script>
    <script src="~/cr/js/jqueryvaildation.submitonce-unobtrusive.min.js"></script>
    @if (Model.ContentType == "markdown")
    {
        <script src="~/cr/js/simplemde.min.js"></script>
        <script src="~/cr/js/simplemde-unobtrusive.min.js"></script>
    }
    else
    {
        await Html.RenderPartialAsync("_UnobtrusiveEditorScriptsPartial");
    }
    @{ await Html.RenderPartialAsync("_DatePickerScriptsPartial"); }
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
}
