@model cloudscribe.SimpleContent.Web.ViewModels.BlogViewModel
@using cloudscribe.SimpleContent.Models
@using cloudscribe.SimpleContent.Web.Design
@using cloudscribe.SimpleContent.Web.TagHelpers
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@using System.Globalization
@using cloudscribe.SimpleContent.Web
@addTagHelper "*, cloudscribe.SimpleContent.Web"
@inject IStringLocalizer<SimpleContent> sr
@inject IOptions<IconCssClasses> iconClassesAccessor
@{
    var icons = iconClassesAccessor.Value;    
}
@functions{

    public string GetPubDateClass()
    {
        if (Model.TmpPost != null && Model.TmpPost.PubDate > DateTime.UtcNow) return "lead text-danger";

        return null;
    }
    public string GetCommentString(IPost post)
    {
        if (string.IsNullOrEmpty(Model.ProjectSettings.DisqusShortName))
        {
            return post.ApprovedCommentCount() + " " + sr["Comments"];

        }
        return "<span class=\"disqus-comment-count\" data-disqus-identifier=\"" + Model.TmpPost.Id + "\"></span>";
    }
    public string GetCommentFragment()
    {
        if (string.IsNullOrEmpty(Model.ProjectSettings.DisqusShortName))
        {
            return "comments";

        }
        return "disqus_thread";
    }
}
<article class="post" data-id="@Model.TmpPost.Id" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header class="jumbotron">
        <h1 itemprop="headline name">
            @if (Model.ProjectSettings.IncludePubDateInPostUrls)
            {
                <a asp-route="@Model.BlogRoutes.PostWithDateRouteName"
                   asp-route-year="@Model.TmpPost.PubDate.Year"
                   asp-route-month="@Model.TmpPost.PubDate.Month.ToString("00")"
                   asp-route-day="@Model.TmpPost.PubDate.Day.ToString("00")"
                   asp-route-slug="@Model.TmpPost.Slug" 
                   itemprop="url">@Model.TmpPost.Title</a>
            }
            else
            {
                <a asp-route="@Model.BlogRoutes.PostWithoutDateRouteName" asp-route-slug="@Model.TmpPost.Slug" itemprop="url">@Model.TmpPost.Title</a>
            } 
        </h1>
        <div class="bh">
            <time class="@GetPubDateClass()" datetime='@Model.TmpPost.PubDate.ToString("s")' itemprop="datePublished">@Model.FormatDate(Model.TmpPost.PubDate)</time>
             @if (Model.ProjectSettings.IncludePubDateInPostUrls)
            {
                <a asp-route="@Model.BlogRoutes.PostWithDateRouteName"
                   asp-route-year="@Model.TmpPost.PubDate.Year"
                   asp-route-month="@Model.TmpPost.PubDate.Month.ToString("00")"
                   asp-route-day="@Model.TmpPost.PubDate.Day.ToString("00")"
                   asp-route-slug="@Model.TmpPost.Slug" 
                   asp-fragment="@GetCommentFragment()"
                   itemprop="url"><i class="@icons.Comments"></i> @Html.Raw(GetCommentString(Model.TmpPost))</a>
            }
            else
            {
                <a asp-route="@Model.BlogRoutes.PostWithoutDateRouteName" asp-route-slug="@Model.TmpPost.Slug" asp-fragment="@GetCommentFragment()" itemprop="url"><i class="@icons.Comments"></i> @Html.Raw(GetCommentString(Model.TmpPost))</a>
            } 
            @if (Model.TmpPost.Categories.Count > 0)
            {
                <ul class="categories">
                    <li><i class="@icons.Tags"></i>&nbsp; @sr["Posted in:"] </li>
                    @foreach (string cat in Model.TmpPost.Categories)
                    {
                        <li itemprop="articleSection"><a asp-controller="Blog" asp-action="Category" asp-route-category="@cat">@cat</a></li>
                    }
                </ul>
            } 
        </div>
    </header>
    <div itemprop="articleBody">@Html.Raw(Model.FilterHtml(Model.TmpPost))</div>
    @{
        var imageUrl = Model.ExtractFirstImageUrl(Model.TmpPost, Url);
        var imageSize = Model.ExtractFirstImageDimensions(Model.TmpPost);
    }
    @if (!string.IsNullOrEmpty(imageUrl))
    {
        <div class="collapse" aria-hidden="true" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
            <schema-org-meta itemprop="url" content="@imageUrl"></schema-org-meta>
            <schema-org-meta itemprop="width" content="@imageSize.Width"></schema-org-meta>
            <schema-org-meta itemprop="height" content="@imageSize.Height"></schema-org-meta>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.TmpPost.Author))
    {
        <div class="collapse" aria-hidden="true" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <schema-org-meta itemprop="name" content="@Model.TmpPost.Author"></schema-org-meta>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.ProjectSettings.Publisher))
    {
        <div class="collapse" aria-hidden="true" itemprop="publisher" itemscope itemtype="http://schema.org/@Model.ProjectSettings.PublisherEntityType">
            <schema-org-meta itemprop="name" content="@Model.ProjectSettings.Publisher"></schema-org-meta>
            <div class="collapse" aria-hidden="true" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                <schema-org-meta itemprop="url" content="@Model.ProjectSettings.PublisherLogoUrl"></schema-org-meta>
                <schema-org-meta itemprop="width" content="@Model.ProjectSettings.PublisherLogoWidth"></schema-org-meta>
                <schema-org-meta itemprop="height" content="@Model.ProjectSettings.PublisherLogoHeight"></schema-org-meta>
            </div>
        </div>
    }
    <schema-org-meta itemprop="dateModified" content="@Model.TmpPost.PubDate.ToString("s", CultureInfo.InvariantCulture)"></schema-org-meta>
</article>
