@model Dictionary<string, int>
@inject IStringLocalizer<SimpleContent> sr
@inject IBlogRoutes blogRoutes
@inject ISimpleContentThemeHelper themeHelper
@{
    var themeSettings = themeHelper.GetThemeSettings();
}
<nav class="panel panel-default" aria-labelledby="hCategories">
    <div class="panel-heading">
        <h2 id="hCategories"><i class="@themeSettings.Icons.Tags" aria-hidden="true"></i>&nbsp;@sr["Categories"]</h2>
    </div>
    <div class="panel-body">
        <ul class="list-inline category-list">
            @foreach (var cat in Model)
            {
                <li>
                    <a asp-route="@blogRoutes.BlogCategoryRouteName"
                       asp-route-category="@cat.Key">@cat.Key (@cat.Value)</a>
                </li>
            }
        </ul>
    </div>
</nav>
