@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
@inject ISummernoteOptionsResolver summernoteOptionsResolver
@inject IStringLocalizer<SimpleContent> sr
@{
    var summernoteOptions = await summernoteOptionsResolver.GetSummernoteOptions();
    var contentId = Model.Id;
    if (string.IsNullOrWhiteSpace(contentId)) { contentId = "draft-post-" + DateTime.UtcNow.ToString("yyyy-MM-dd-hh"); }
}
<textarea asp-for="Content" rows="10" cols="70" class="form-control"
    data-summernote-unobtrusive=""
    data-summernote-config-url="@summernoteOptions.CustomConfigPath"
    data-summernote-toolbar-config-url="@summernoteOptions.CustomToolbarConfigPath"
    data-summernote-config-language="@summernoteOptions.LanguageCode"
    data-summernote-config-dropfileuploadurl="@summernoteOptions.DropFileUrl"
    data-summernote-config-filebrowserurl="@summernoteOptions.FileBrowseUrl"
    data-summernote-config-imagebrowseurl="@summernoteOptions.ImageBrowseUrl">
</textarea>
<div id="fileBrowseDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="height:99%;width:99%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label='@sr["Close"]'></button>
            </div>
            <iframe id="frFileDialog" frameborder="0" style="overflow:hidden;height:100%;width:100%;min-height: 600px;"></iframe>
        </div>
    </div>
</div>
