@model cloudscribe.SimpleContent.Web.ViewModels.PostEditWithTemplateViewModel
@inject ISummernoteOptionsResolver summernoteOptionsResolver
@inject IStringLocalizer<SimpleContent> sr
@{
    var summernoteOptions = await summernoteOptionsResolver.GetSummernoteOptions();
}
<div class="mb-3">
    <label asp-for="TeaserOverride">@sr["Teaser Override"]</label>
    <textarea asp-for="TeaserOverride" class="form-control" rows="10" cols="70"
        data-summernote-unobtrusive=""
        data-summernote-config-url="@summernoteOptions.CustomConfigPath"
        data-summernote-toolbar-config-url="@summernoteOptions.CustomToolbarConfigPath"
        data-summernote-config-language="@summernoteOptions.LanguageCode"
        data-summernote-config-dropfileuploadurl="@summernoteOptions.DropFileUrl"
        data-summernote-config-filebrowserurl="@summernoteOptions.FileBrowseUrl"
        data-summernote-config-imagebrowseurl="@summernoteOptions.ImageBrowseUrl">
    </textarea>
</div>
<div class="mb-3">
    <div class="form-check" data-bs-toggle="tooltip" data-placement="left" title='@sr["If checked, then show entire blog post on index/listing pages regardless of teaser settings."]'>
        <input asp-for="SuppressTeaser" class="form-check-input" />
        <label asp-for="SuppressTeaser" class="form-check-label">@sr["No teaser, use full post"]</label>
    </div>
</div>


