@model cloudscribe.SimpleContent.Web.ViewModels.BlogViewModel
@inject ISimpleContentThemeHelper themeHelper
@inject IStringLocalizer<SimpleContent> sr
@inject IOptions<BlogEditOptions> editOptionsAccessor
@{
    var themeSettings = themeHelper.GetThemeSettings();
    var editOptions = editOptionsAccessor.Value;
}
@if (Model.CanEdit)
{
    <div class="btn-group btn-group-small-admin btn-group-vertical end-0 me-3 fixed-top">
        <a id="newPostLink" href="@Model.NewItemPath" title="@sr["New Post"]" class="btn btn-sm content-new btn-outline-primary btn-light">
            <span class="@themeSettings.Icons.NewItem" aria-hidden="true"></span>
        </a>
        @if (Model.CurrentPost != null)
        {
            <a id="editPostLink" href="@Model.EditPath" title="@sr["Edit"]" class="btn btn-sm content-edit btn-outline-primary btn-light">
                <span class="@themeSettings.Icons.Edit" aria-hidden="true"></span>
            </a>
        }
        @if (!editOptions.HideUnpublishButton && Model.CurrentPost != null && Model.CanEdit && !Model.ShowingDeleted && !Model.ShowingDraft && !Model.HistoryId.HasValue && Model.CurrentPost.IsPublished)
        {
            <a id="unpublishPostLink" title="@sr["Unpublish"]" class="btn btn-sm content-unpublish btn-outline-primary btn-light" data-bs-toggle="modal" data-bs-target="#confirmUnpublishModal">
                <span class="@themeSettings.Icons.Unpublish" aria-hidden="true"></span>
            </a>
        }
    </div>
}

