@model cloudscribe.SimpleContent.Web.ViewModels.ContentHistoryViewModel
@inject IStringLocalizer<SimpleContent> sr
@{
    ViewData["Title"] = sr["Content Edit History"];
}
<h1>@ViewData["Title"]</h1>
<partial name="HistoryGridPartial" model="Model" />
<cs-pager asp-action="Index"
          asp-controller="ContentHistory"
          asp-route-contentsource="@Model.ContentSource"
          asp-route-editor="@Model.Editor"
          asp-route-sortmode="@Model.SortMode"
          asp-route-pagesize="@Model.History.PageSize"
          cs-paging-pagesize="@Model.History.PageSize"
          cs-paging-pagenumber="@Model.History.PageNumber"
          cs-paging-totalitems="@Model.History.TotalItems"
          cs-pager-ul-class="pagination d-flex flex-wrap"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"
          cs-first-page-title='@sr["First Page"]'
          cs-last-page-title='@sr["Last Page"]'
          cs-previous-page-title='@sr["Previous page"]'
          cs-next-page-title='@sr["Next page"]'></cs-pager>
@if (Model.CanEditPages && Model.CanEditPosts)
{

    <form role="form" class="form-inline" asp-controller="ContentHistory" asp-action="DeleteOlderThan">
        <input type="submit" value='@sr["Delete Older Than"]' class="btn btn-sm btn-danger " />
        <select class="form-control ms-1 me-1" name="days" id="days">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>60</option>
            <option>90</option>
            <option>120</option>
        </select>
        @sr["Days"]
    </form>
}