@model Dictionary<string, int>
@using Microsoft.Extensions.Localization
@using cloudscribe.SimpleContent.Web
@inject IStringLocalizer<SimpleContent> sr
@inject cloudscribe.SimpleContent.Models.IBlogRoutes blogRoutes
<section class="panel panel-default">
    <div class="panel-heading">
        <h3>@sr["Categories"]</h3>
    </div>
    <div class="panel-body">
        <ul class="list-inline">
            @foreach (var cat in Model)
            {
                <li>
                    <a asp-route="@blogRoutes.BlogCategoryRouteName"
                       asp-route-category="@cat.Key.ToLowerInvariant()">@cat.Key.ToLowerInvariant() (@cat.Value)</a>
                </li>
            }
        </ul>
    </div>
</section>
