@model cloudscribe.Core.SimpleContent.Integration.ViewModels.ContentSettingsViewModel
@using cloudscribe.Web.Navigation
@using cloudscribe.Core.SimpleContent.Integration
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SimpleContentIntegration> sr
<div class="row">
    <div class="col-md-10 col-md-push-2">
        <h2>@ViewBag.Title</h2>
        <form method="post" class="form-horizontal" role="form" asp-antiforgery="true">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="col-md-2 control-label">@sr["Blog Page Title"]</label>
                <div class="col-md-10">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label">@sr["Blog Tagline"]</label>
                <div class="col-md-10">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ShowTitle" /> @sr["Show Blog Title and Tagline"]
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PubDateFormat" class="col-md-2 control-label">@sr["Date Format"]</label>
                <div class="col-md-10">
                    <input asp-for="PubDateFormat" class="form-control" />
                    <span asp-validation-for="PubDateFormat" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IncludePubDateInPostUrls" /> @sr["Include Date In Post Urls"]
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ModerateComments" /> @sr["Moderate Comments"]
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DaysToComment" class="col-md-2 control-label">@sr["Days To Comment"]</label>
                <div class="col-md-10">
                    <select  asp-for="DaysToComment" class="form-control">
                        <option value="-1">No Limit</option>
                        <option value="1">1</option>
                        <option value="7">7</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                    </select>
                    <span asp-validation-for="DaysToComment" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CommentNotificationEmail" class="col-md-2 control-label">@sr["Comment Notification Email"]</label>
                <div class="col-md-10">
                    <input asp-for="CommentNotificationEmail" class="form-control" />
                    <span asp-validation-for="CommentNotificationEmail" class="text-danger"></span>
                </div>
            </div>
            <fieldset>
                <legend>@sr["Feed Settings"]</legend>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="checkbox">
                            <label>
                                <input asp-for="UseMetaDescriptionInFeed" /> @sr["Use Meta Description In Feed"]
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RemoteFeedUrl" class="col-md-2 control-label">@sr["Feedburner Url"]</label>
                    <div class="col-md-10">
                        <input asp-for="RemoteFeedUrl" class="form-control" />
                        <span asp-validation-for="RemoteFeedUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LanguageCode" class="col-md-2 control-label">@sr["Language Code"]</label>
                    <div class="col-md-10">
                        <input asp-for="LanguageCode" class="form-control" />
                        <span asp-validation-for="LanguageCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ChannelCategoriesCsv" class="col-md-2 control-label">@sr["Comma Separated Channel Categories"]</label>
                    <div class="col-md-10">
                        <input asp-for="ChannelCategoriesCsv" class="form-control" />
                        <span asp-validation-for="ChannelCategoriesCsv" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ManagingEditorEmail" class="col-md-2 control-label">@sr["Managing Editor Email"]</label>
                    <div class="col-md-10">
                        <input asp-for="ManagingEditorEmail" class="form-control" />
                        <span asp-validation-for="ManagingEditorEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WebmasterEmail" class="col-md-2 control-label">@sr["Webmaster Email"]</label>
                    <div class="col-md-10">
                        <input asp-for="WebmasterEmail" class="form-control" />
                        <span asp-validation-for="WebmasterEmail" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button name="submit" type="submit" class="btn btn-default">@sr["Save"]</button>
                    </div>
                </div>
</form>
    </div>
    <div class="col-md-2 col-md-pull-10">
        @await Component.InvokeAsync("Navigation", new { viewName = "SideNavAlt1", filterName = NamedNavigationFilters.ParentTree, startingNodeKey = "SiteAdmin" })
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_SideMenuScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
