@model cloudscribe.SimpleContent.Web.ViewModels.PageViewModel
@using Microsoft.AspNetCore.Http.Features
@inject IStringLocalizer<SimpleContent> sr
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var allowDisqus = consentFeature?.CanTrack ?? true; // disqus has cookies
    var disqusScriptPath = "//" + Model.ProjectSettings.DisqusShortName + ".disqus.com/embed.js";
}
@if (allowDisqus && (Model.CurrentPage != null) && (!string.IsNullOrEmpty(Model.CurrentPage.Id)))
{
    @sr["Comments"]
    <div id="disqus_thread" data-disqus-config data-disqus-page-url="@Context.Request.GetCurrentFullUrl()" data-disqus-page-id="@Model.CurrentPage.Id" data-disqus-script-url="@disqusScriptPath"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
}
@if (!allowDisqus)
{
    <p class="alert alert-info">@sr["If you want to view or submit comments you must accept the cookie consent."]</p>
}
<script src="~/cr/js/unobtrusive-disqus.min.js"></script>