@model cloudscribe.SimpleContent.Web.ViewModels.PageViewModel
@inject IStringLocalizer<SimpleContent> sr
@inject IPageRoutes pageRoutes
@{ 
    var slug = Model.CurrentPage.Slug;
    if(slug == Model.ProjectSettings.DefaultPageSlug) { slug = ""; }
}
@if (Model.ShowingDraft && Model.CanEdit)
{
    <div class="alert alert-info" role="alert">
        @sr["You are currently viewing a draft version of this page."]
        @if (Model.CurrentPage.PubDate.HasValue)
        {
            <em>
                @sr["Scheduled Publish Date:"]&nbsp;@Model.FormatDateForEdit(Model.CurrentPage.PubDate.Value)
            </em>
        }
        @if (Model.HasPublishedVersion)
        {
            <a href="@Url.RouteUrl(pageRoutes.PageRouteName, new { slug = slug })">@sr["View published version."]</a>
        }
    </div>
}
else if (Model.HasDraft && Model.CanEdit)
{
    <a href="@Url.RouteUrl(pageRoutes.PageRouteName, new { slug = Model.CurrentPage.Slug, showDraft = true })">@sr["View current draft."]</a>

}