@model cloudscribe.SimpleContent.Web.ViewModels.PageViewModel
@inject IStringLocalizer<SimpleContent> sr
@inject IPageRoutes pageRoutes
@if (Model.HistoryId.HasValue && Model.HistoryArchiveDate.HasValue)
{
    <div class="alert alert-warning" role="alert">
        @sr["You are currently viewing a previous version of this page that was archived"]&nbsp;@Model.FormatDateForEdit(Model.HistoryArchiveDate.Value)
        @if (Model.HasPublishedVersion)
        {
            <a class="btn btn-link" href="@Url.RouteUrl(pageRoutes.PageRouteName, new { slug = Model.CurrentPage.Slug })">@sr["View published version."]</a>
        }
       <a class="btn btn-primary btn-sm" href="@Url.RouteUrl(pageRoutes.PageEditRouteName, new { slug = Model.CurrentPage.Slug, historyId = Model.HistoryId.Value })">@sr["Restore this version to editor"]</a>
    </div>

}
