@model cloudscribe.SimpleContent.Web.ViewModels.NewPageViewModel
@inject IStringLocalizer<SimpleContent> sr
@inject IPageRoutes  pageRoutes
@{
    ViewData["Title"] = sr["Create a New Page"];
}
<h2>@ViewData["Title"]</h2>

<a class="btn btn-primary" asp-route="@pageRoutes.PageEditRouteName" asp-route-parentslug="@Model.ParentSlug" asp-route-type="@Model.ContentType">@sr["New Page with Standard Content Editor"]</a>

@if (Model.Templates.Count > 0)
{
    <h3>@sr["Create Page From Template"]</h3>
    <form asp-action="InitTemplatedPage" data-submit-once="true">
        <div class="form-group mt-2">
            <label asp-for="PageTitle">@sr["Page Heading"]</label>
            <input asp-for="PageTitle" class="form-control" data-toggle="tooltip" title='@sr["This is the heading and title of the page. The url slug will be generated based on the title."]' />
            <span asp-validation-for="PageTitle" class="invalid-feedback"></span>
        </div>


        @foreach(var template in Model.Templates)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="SelectedTemplate" value="@template.Key" id="@(template.Key)" />
                <label class="form-check-label" for="@(template.Key)">
                    @template.Title
                </label>
                
                <p>@template.Description</p>
            </div>

        }
        <span asp-validation-for="SelectedTemplate" class="text-danger"></span>
        <button id="btnSave" name="submit" type="submit" class="btn btn-primary" data-disabled-text='@sr["Working..."]' data-enabled-text='@sr["Create Page From Template"]'>@sr["Create Page From Template"]</button>
    </form>


}
@section Scripts {
    @{ await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
    <script src="~/cr/js/jquery.validate.hooks.min.js"></script>
    <script src="~/cr/js/jqueryvaildation.submitonce-unobtrusive.min.js"></script>
}