@model cloudscribe.SimpleContent.Web.ViewModels.NewContentViewModel
@inject IStringLocalizer<SimpleContent> sr
@inject IPageRoutes  pageRoutes
@{
    ViewData["Title"] = sr["Create a New Page"];
}
<h2>@ViewData["Title"]</h2>
<a class="btn btn-link" asp-route="@pageRoutes.PageEditRouteName" asp-route-parentslug="@Model.ParentSlug">@sr["New Page with Standard Content Editor"]</a>
@if (Model.CountOfTemplates > 0)
{
    <h3>@sr["Create Page From Template"]</h3>
    await Html.RenderPartialAsync("NewContentPartial", Model); 
}
@section Scripts {
    @{ await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
    <script src="~/cr/js/unobtrusive-validation-bs4.min.js"></script>
    <script src="~/cr/js/jquery.validate.hooks.min.js"></script>
    <script src="~/cr/js/jqueryvaildation.submitonce-unobtrusive.min.js"></script>
}
