@model cloudscribe.Core.SimpleContent.Integration.ViewModels.ContentSettingsViewModel
@inject IStringLocalizer<SimpleContent> sr
@inject IOptions<ContentSettingsUIConfig> uiOptionsAccessor
@{
    var uiOptions = uiOptionsAccessor.Value;
}
@if (uiOptions.ShowCommentSettings)
{
    @if (!uiOptions.ShowBlogSettings)
    {
        <input asp-for="ModerateComments" type="hidden" />
        <input asp-for="DaysToComment" type="hidden" />
        <input asp-for="CommentNotificationEmail" type="hidden" />
    }

    @if (uiOptions.ShowBlogSettings)
    {
        <div class="form-group">
            <div class="form-check" data-placement="left" data-bs-toggle="tooltip" title='@sr["This setting only applies to using the internal comment system, it does not impact Disqus comments."]'>
                <input asp-for="ModerateComments" class="form-check-input" />
                <label asp-for="ModerateComments" class="form-check-label">@sr["Moderate Comments"]</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DaysToComment">@sr["Days To Comment"]</label>
            <select asp-for="DaysToComment" class="form-control" data-bs-toggle="tooltip" title='@sr["This setting only applies to using the internal comment system, it does not impact Disqus comments."]'>
                <option value="-1">@sr["No Limit"]</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="7">7</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="60">60</option>
                <option value="90">90</option>
            </select>
            <span asp-validation-for="DaysToComment" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CommentNotificationEmail">@sr["Comment Notification Email"]</label>
            <input asp-for="CommentNotificationEmail" class="form-control" data-bs-toggle="tooltip" title='@sr["This setting only applies to using the internal comment system, it does not impact Disqus comments."]' />
            <span asp-validation-for="CommentNotificationEmail" class="text-danger"></span>
        </div>
    }
    <div class="form-group">
        <label asp-for="DisqusShortName">@sr["Disqus Short Name"]</label>
        <input asp-for="DisqusShortName" class="form-control" data-bs-toggle="tooltip" title='@sr["Provide your Disqus site name aka short name to use Disqus instead of the internal comment system. Highly recommended."]' />
        <span asp-validation-for="DisqusShortName" class="text-danger"></span>
    </div>
}
else
{
    <input asp-for="ModerateComments" type="hidden" value="false" />
    <input asp-for="DaysToComment" type="hidden" value="0" />
    <input asp-for="CommentNotificationEmail" type="hidden" value="" />
    <input asp-for="DisqusShortName" type="hidden" value="" />
}
