@model cloudscribe.SimpleContent.Web.ViewModels.PostEditViewModel
@using cloudscribe.SimpleContent.Web
@using cloudscribe.Web.Common.Components
@using Microsoft.Extensions.Localization
@inject ITinyMceEditorOptionsResolver editorOptionsResolver
@inject IStringLocalizer<SimpleContent> sr
@{
    var mceOptions = await editorOptionsResolver.GetTinyMceEditorOptions();
}
<div class="form-group">
    <label asp-for="TeaserOverride" class="col-md-2 control-label">@sr["Teaser Override"]</label>
    <div class="col-md-10">
        <textarea asp-for="TeaserOverride" class="form-control" rows="10" cols="70"
                  data-tinymce=""
                  data-tinymce-config-url="@mceOptions.CustomConfigPath"
                  data-tinymce-config-language="@mceOptions.LanguageCode"
                  data-tinymce-config-dropfileuploadurl="@mceOptions.DropFileUrl"
                  data-tinymce-config-filebrowserurl="@mceOptions.FileBrowseUrl"
                  data-tinymce-config-imagebrowseurl="@mceOptions.ImageBrowseUrl"></textarea>
    </div>
</div>
<div class="form-group">
    <div class="col-md-10 col-md-offset-2">
        <div class="checkbox" data-toggle="tooltip" data-placement="left" title='@sr["If checked, then show entire blog post on index/listing pages regardless of teaser settings."]'>
            <label>
                <input asp-for="SuppressTeaser" /> @sr["No teaser, use full post"]
            </label>
        </div>
    </div>
</div>


