@model cloudscribe.SimpleContent.Web.ViewModels.RecentPostsViewModel
@inject cloudscribe.SimpleContent.Models.IBlogRoutes blogRoutes

@{

}
@if (Model.Posts.Count > 0)
{
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>
                @if (Model.ProjectSettings.IncludePubDateInPostUrls)
                {
                    <a asp-route="@blogRoutes.PostWithDateRouteName"
                       asp-route-year="@post.PubDate.Year"
                       asp-route-month="@post.PubDate.Month.ToString("00")"
                       asp-route-day="@post.PubDate.Day.ToString("00")"
                       asp-route-slug="@post.Slug"
                       >@post.Title</a>
                }
                else
                {
                    <a asp-route="@blogRoutes.PostWithoutDateRouteName" asp-route-slug="@post.Slug" >@post.Title</a>
                } 
            </li>

        }
    </ul>
}
