@model cloudscribe.SimpleContent.Web.ViewModels.ContentHistoryViewModel
@inject IStringLocalizer<SimpleContent> sr
@{
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @sr["Archived Date"]
            </th>
            <th>
                @sr["Archived By"]
            </th>
            <th>
                @sr["Source"]
            </th>
            <th>
                @sr["Title"]
            </th>
            <th>
                @sr["Is Draft"]
            </th>
            <th>
                @sr["Created By"]
            </th>
            <th>
                @sr["Last Modified By"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.History.Data)
        {
        <tr>
            <td>
                @item.ArchivedUtc
            </td>
            <td>
                @item.ArchivedBy
            </td>
            <td>
                @item.ContentSource
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.IsDraftHx
            </td>
            <td>
                @item.CreatedByUser
            </td>
            <td>
                @item.LastModifiedByUser
            </td>
        </tr>

        }
    </tbody>

</table>
