@model cloudscribe.SimpleContent.Web.ViewModels.StaffMemberViewModel
@using Microsoft.AspNetCore.Antiforgery
@inject IStringLocalizer<SimpleContent> sr
@inject IAntiforgery antiforgery
@inject ICkeditorOptionsResolver editorOptionsResolver
@{

    var tokens = antiforgery.GetAndStoreTokens(Context);
    var ckOptions = await editorOptionsResolver.GetCkeditorOptions();
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="d-flex align-items-stretch">
    <div class="cs-crop-container">
        @if (string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <img id="dz1Image" src="/cr/images/550x412.png" />
        }
        else
        {
            <img id="dz1Image" src="@Model.ImageUrl" alt="profile image" />
        }

    </div>
    <div class="d-flex flex-column">
        <div id="dz1" class="cloudscribe-dropzone-standalone" style="cursor:pointer;"
             data-dropzone=""
             data-upload-url="@Url.Action("DropFile", "FileManager")"
             data-anti-forgery-token="@tokens.RequestToken"
             data-file-browse-url="@ckOptions.ImageBrowseUrl"
             data-file-crop-url="@ckOptions.CropFileUrl"
             data-target-path="/media/images"
             data-target-fullsize-input-id="imgUrl1"
             data-target-resized-input-id="imgUrl1Resized"
             data-target-thumb-input-id="imgUrl1Thumb"
             data-target-fullsize-image-id="dz1Image"
             data-target-resized-image-idx="dz1ImageResized"
             data-enable-browse-server="true"
             data-enable-crop="true"
             data-target-thumb-image-idx="dz1ImageThumb"
             data-resize-width="550"
             data-resize-height="412"
             data-create-thumb="false"
             data-resize-image="true"
             data-accepted-files="image/*">
            @sr["Drop file here or click to browse device for file."]
        </div>
        <div class="pl-1 pt-1">
            <div class="d-flex flex-column">
                <button id="dz1-browse-server" type="button" class="mb-1 btn btn-primary collapse">@sr["Browse Server"] <i class="fas fa-search" aria-hidden="true"></i></button>
                <button id="dz1-save-crop" type="button" class="mb-1 btn btn-primary collapse">@sr["Save Crop"] <i class="far fa-save" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<input asp-for="ImageFullSizeUrl" id="imgUrl1" type="hidden" />
<input asp-for="ImageUrl" id="imgUrl1Resized" type="hidden" />
<input asp-for="ImageThumbSizeUrl" id="imgUrl1Thumb" type="hidden" />

<div class="form-group">
    <label asp-for="FirstName" class="control-label">@sr["First Name"]</label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LastName" class="control-label">@sr["Last Name"]</label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label">@sr["Email"]</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Phone" class="control-label">@sr["Phone"]</label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="MobilePhone" class="control-label">@sr["Mobile Phone"]</label>
    <input asp-for="MobilePhone" class="form-control" />
    <span asp-validation-for="MobilePhone" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ProfileUrl" class="control-label">@sr["Profile Url"]</label>
    <input asp-for="ProfileUrl" class="form-control" />
    <span asp-validation-for="ProfileUrl" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Department" class="control-label">@sr["Department"]</label>
    <input asp-for="Department" class="form-control" />
    <span asp-validation-for="Department" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Position" class="control-label">@sr["Position"]</label>
    <input asp-for="Position" class="form-control" />
    <span asp-validation-for="Position" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Biography" class="control-label">@sr["Biography"]</label>
    <textarea asp-for="Biography" class="form-control"></textarea>
    <span asp-validation-for="Biography" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="JoinDate">@sr["Jojn Date"]</label>
    <input asp-for="JoinDate" type="hidden" />
    <input type="text" id="JoinDateDisplay" class="form-control"
           data-bs-datepicker="true"
           data-bs-datepicker-iso-target-id="JoinDate"
           data-bs-datepicker-iso-format="YYYY-MM-DDTHH:mm:ss.sss"
           value='@Model.JoinDate?.ToString("g")'
           data-bs-datepicker-debug="false"
           data-bs-datepicker-keepOpen="false"
           data-bs-datepicker-allowInputToggle="true"
           data-bs-datepicker-locale="@CultureInfo.CurrentCulture.Name" />
    <span asp-validation-for="JoinDate" class="invalid-feedback"></span>
</div>

<div id="fileBrowseDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="height:99%;min-width:99%!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <iframe id="frFileDialog" frameborder="0" style="overflow:hidden;height:100%;width:100%;min-height: 650px;"></iframe>
        </div>
    </div>
</div>
